{% extends "layout" %}

{% block content %}

    <h3><a href="https://www.dropbox.com/s/55uye7eepr9rpcc/%C3%9Ajsz%C3%B6vets%C3%A9gi%20munkaf%C3%BCzet.xlsx?dl=0">Újszövetségi gyakorlókönyv megoldókulccsal</a></h3>
    <p>A letölthető Excel fájl a teljes görög Újszövetséget tartalmazza feladatlap-formátumban, kinyomtatható módon, Wescott & Hort kiadása szerint, ill. a hozzá tartozó megoldókulcsot is, a honlapunkon kiadott szószedet információinak megfelelően. Off-line, vagy papír alapú görögtanulásra alkalmas! Ha papír alapon akar dolgozni vele, keresse meg a kívánt perikópát, és jelölje ki nyomtatási területként, majd nyomtassa ki!</p>

    <h3><a href="letolthetok/Gorog_iras_szamitogepen.doc">Görög írás számítógépen</a></h3>
    <p>A letölthető fájl egy Winword dokumentum, amely tartalmazza azokat a makrókat, amelyek a görög írást lehetővé teszik. Éppen ezért betöltés előtt állítsuk a Wordben az Eszközök/Makrók/Biztonság menüútvonalon elindulva közepesre a biztonsági szintet, és indítsuk újra a Wordöt. Ekkor a letöltött fájl indítása előtt a Word kérdezi, hogy engedélyezze-e a makrók futását. Aki valóban szeretne görögül írni, az engedélyezze. A fájl szövege leírja az ezzel kapcsolatos nehézségeket, és azok megoldását, és a makrók közvetlenül használhatóak.</p>

    <h3><a href="http://archive.org/download/NewTestamentGreekTextWescottHort18811903/New_Testament_Greek_Text_Wescott_Hort_1881_1903.doc">E-book az 1903-as Wescott &amp; Hort féle szövegkiadás alapján</a></h3>
    <p>A letölthető fájl egy 2,1 Mb méretű, 548 oldalas Winword dokumentum, amelyben az Újszövetségi Szentírás szövegét pontosan Wescott és Hort 1903 évi szövegkiadása szerint osztottuk oldalakra. Így a honlapunkon lévő digitalizált szöveg és a könyvkiadás jól összehasonlítható. <br>
        Hasznos gyakorlat kezdő görög nyelvtanulók számára, ha úgy tanulnak görögül olvasni, hogy ennek az e-booknak és a könyv fénymásolatának szövegét párhuzamosan olvassák, másrészt haladó görögösök számára ez a gyakorlat lassú, figyelmes Szentírásolvasást jelent, ami tapasztalataink szerint gyorsan válik imádsággá. <br>
        Az összehasonlításhoz a a könyv fénymásolt lapjai a következő linken letölthetőek. Ha az összeolvasással digitalizációs hibákat sikerül föltárni, készséggel és köszönettel javítjuk mind az e-bookot, mind a web-oldalunkat. Komolyan reméljük azonban, hogy már sokat kell dolgozni egy-egy hiba megtalálásáért, mert legföljebb néhány vessző- és ékezethiba lehet a szövegben. <br>
        Az e-bookhoz írt angol, olasz ill. magyar nyelvű utószó fontos információkat tartalmaz, az e-book konkrét használata előtt mindenképpen ajánlott elolvasni. Az olasz utószó javításáért, és angolra való továbbfordításáért hálás köszönet Richard Wilsonnak, a <a href="http://www.laparola.net">www.laparola.net</a> weboldal szerkesztőjének! </p>
    <p>Mi katolikusok a mérsékelt sörfogyasztást Istennek tetsző dolognak tartjuk, úgyhogy aki hibát talál a szövegben, az esetleges esztergomi látogatásakor vendégem egy korsó sörre. <br>
        Kérem, azt is jelezzék a levelezőlistán, ha végigolvastak pár oldalt és rendben volt: ezt számon tartjuk, erősíti a web-oldalunk hitelességét.</p>


{% endblock %}
