{% extends "layout" %}

{% block content %}

    <h2>Tisztelt Felhasználó!</h2>

    <p class="text-justify">Isten iránti mélységes hálával tájékoztatjuk, 
        hogy a honlapon teljes görög-magyar újszövetségi szószedetet talál, 
        mely évtizedes közös vállalkozás eredményeként készült el az 
        <a href="http://www.eszhf.hu/">Esztergomi Hittudományi Főiskola</a> 
        projektjeként. Projektfelelős a jelen tájékoztató szerzője: 
        dr. Harmai Gábor (e-mail ember számára olvasható formában: 
        harmaig kukac clerus pont hu). A honlap rendszergazdája: <a href="https://github.com/briff/">Fodor Bertalan</a>.
    </p>
    <p class="text-justify">
        Célunk az újszövetségi görög nyelvtanulást hatékony számítástechnikai 
        eszközökkel elősegíteni, és ezzel Isten Szavát eredeti nyelven közelebb 
        hozni mindennapjainkhoz, imádságainkhoz.
    </p>
    <p class="text-justify">
        Kívánjuk minden görögtanulónak Isten bőséges áldását és kegyelmét!
    </p>

    <h3>Témák</h3>
    <ol>
        <li><a href="#A_gorog_szentiras_alapszovege">A görög Szentírás alapszövege</a></li>
        <li><a href="#A_magyar_szoforditasok">A magyar szófordítások</a></li>
        <li><a href="#Nyelvtani_elemzesek">Nyelvtani elemzések</a></li>
        <li><a href="#Szotar">Szótár</a></li>
        <li><a href="#Munkatasak_koszonetnyilvanitasok">Munkatársak, köszönetnyilvánítások</a></li>
        <li><a href="#Tovabbi_tervek">További tervek</a></li>
    </ol>

    <h3 id="A_gorog_szentiras_alapszovege">A görög Szentírás alapszövege</h3>
    <p class="text-justify">
        Honlapunkon a Görög Újszövetség <strong>B.F.Westcott</strong> és
        <strong>F.J.A. Hort</strong> által készített szövegkiadásának digitális 
        változatát találja (GNT_WH). Az első kiadás 1881-ben jelent meg, mi a 
        minimális javításokat tartalmazó 1903-mas kiadás digitalizált 
        változatát tettük föl.
    </p>
    <p class="text-justify">
        A digitalizált szöveget e-bookba szerveztük, amely <a 
            href="http://archive.org/details/NewTestamentGreekTextWescottHort18811903/New_Testament_Greek_Text_Wescott_Hort_1881_1903.pdf">pdf-formátumban</a> 
        a neten is megtekinthető, ill. <a 
            href="http://archive.org/download/NewTestamentGreekTextWescottHort18811903/New_Testament_Greek_Text_Wescott_Hort_1881_1903.doc">WinWord formátumban</a> 
        letölthető. Ennek alapján laponként összevethető a <a 
            href="http://archive.org/details/NewTestamentOriginalGreek.Text.Lex.Notes.Wescott.Hort.1903">beszkennelt könyvkiadással</a>. 
        A scannelést egy számunkra ismeretlen kollégának köszönjük!
    </p>
    <p class="text-justify">
        Kérjük az esetleges digitalizációs hibákat az üzenőfalunkon bejelenteni. 
        Köszönjük azt a hatalmas segítséget, amit a digitalizált szöveg és a 
        könyv folyamatos összevetésében, korrektúrájában kaptunk az alábbi 
        személyektől: Dr. Maurice Robinson (<a href="http://www.sebts.edu/">Southeastern Baptist Theological Seminary</a>), <a 
            href="http://faculty.gordon.edu/hu/bi/Ted_Hildebrandt/">Dr. Ted 
            Hildebrand</a>, <a href="http://people.hum.aau.dk/~ulrikp/">Mr. 
            Ulrik Sandborg-Petersen</a>, <a 
            href="http://www.rts.edu/seminary/faculty/bio.aspx?id=285">Mr. 
            Charles Hill</a>, <a href="http://www.laparola.net/">Mr. Richard 
            Wilson</a>. Ugyancsak sokat segítettek az Esztergom-Belvárosi Plébánia 
        munkatársai, Kantjukov Rüsztem és Németh Mária, akik összeolvasták a 
        digitalizált szöveget és a könyvet.
    </p>
    <p class="text-justify">
        A Német Bibliatársulat 2010. január
        1-től sajnos
        visszavonta korábbi engedélyét a
        görög Újszövetség <a
            href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-27/lesen-im-bibeltext/">Nestlé
            - Aland kiadó által
            készített szövegváltozata 27.
            kiadásának</a> (GNT27)
        használatára. A GNT_WH azonban bárki számára szabadon fölhasználható, 
        és kb. 99%-ban teljesen azonos a GNT27-tel. A GNT_WH és a GNT27 
        eltéréseit szövegkritikai jelzésekkel és lábjegyzetekkel bemutatjuk.
    </p>

    <h3 id="A_magyar_szoforditasok">A magyar szófordítások</h3>
    <p class="text-justify">
        A magyar szófordítások Harmai Gábor, Horváth Endre és Szabó Miklós Xavér 
        művei. Valamennyien katolikus pap- ill. szerzetesnövendékként kezdtük el 
        a munkát, jelenleg katolikus papok vagyunk, ill. <a 
            href="http://www.sapientia.hu/hu/foiskolank/oktato/122/">Szabó 
            Miklós Xavér OFM</a> ferences szerzetes, adjunktus a Sapientia 
        Szerzetesi Főiskolán.
    </p>
    <p class="text-justify">A szószedetek szerzői könyvenként:</p>
    <ul>
        <li><strong>Mt evangélium</strong>: Harmai Gábor</li>
        <li><strong>Mk evangélium</strong>: Szabó Xavér</li>
        <li><strong>Lk evangélium</strong>
            1-14: Szabó Xavér; 15-24: Harmai Gábor
        </li>
        <li><strong>Jn evangélium </strong>
            1-14: Horváth Endre; 15-22: Harmai Gábor
        </li>
        <li><strong>Apostolok Cselekedetei</strong>: Harmai Gábor</li>
        <li><strong>Corpus Paulinum</strong>: Horváth Endre; kivéve</li>
        <li><strong>Filippi levél</strong>: Harmai Gábor</li>
        <li><strong>Katolikus levelek</strong>: Horváth Endre; kivéve</li>
        <li><strong>1-3Jn</strong>: Harmai Gábor</li>       
        <li><strong>Jelenések könyve</strong>: Horváth Endre</li>
    </ul>
    <p class="text-justify">
        A szószedet készítése során mindig figyelembe vettük a <a 
            href="http://www.vatican.va/archive/bible/nova_vulgata/documents/nova-vulgata_novum-testamentum_lt.html">
            „Neovulgata” latin fordítást</a>, a rövidítésjegyzékben fölsorolt 
        <a href="http://www.szentiras.hu/">nemzeti fordítások</a> 
        megoldásait, továbbá a rövidítésjegyzékben fölsorolt 3 görög-magyar 
        szótárat. Maga a szószedet fejlesztése is lehetővé tett azonban 
        számos önálló megoldást is.
    </p>
    <p class="text-justify">
        Már a szószedet elkészítése kapcsán gyakran keletkeztek közöttünk 
        termékeny viták, amelyekből lábjegyzetek születtek. Adódik a lehetőség, 
        hogy a Szentírás egyes részeihez bibliográfiát kapcsoljunk, amely segít 
        abban, hogy a szakirodalomban hol lehet utánanézni egy-egy szöveg pontos 
        értelmének.
    </p>
    <p class="text-justify">
        Munkamódszerünk az volt, hogy egy-egy szó egy-egy konkrét alakjához csak 
        egy esetben írunk kézzel jelentést és elemzést, a többi azonos 
        szóalakhoz a gép másolta az egy helyre kézzel beírt információt. Így 
        nem kell pl. több, mint 9000-szer leírni a καί-szó jelentését és 
        elemzését. Természetesen nem biztos, hogy az a jelentés és az a 
        preparáció, ami az egyik helyen helytálló, a másik helyen is helytálló 
        marad, éppen ezért a munkánk nagyobb része a gép által másolt 
        preparációk ellenőrzése és kézi felülvizsgálata volt. Ebben sajnos 
        maradhatnak menet közben hibák, ezért minden kritikai észrevételt 
        szívesen fogadunk. Az üzenőfalon lévő hozzászólásokat szívből köszönjük, 
        ott jelezzük, ha egy-egy javítást elfogadunk, és beépítjük a szószedetbe.
    </p>

    <h3 id="Nyelvtani_elemzesek">Nyelvtani elemzések</h3>
    <p class="text-justify">
        A nyelvtani elemzések latin rövidítésekből álló terminológiáját <a 
            href="http://www.sapientia.hu/hu/foiskolank/oktato/111-2/">Szabó 
            Mária tanárnő</a>, főiskolai docens nyelvtankönyvéből (BÚG) és egyéb 
        jegyzeteiből (VFÚ) vettük át, amiket még a munka kezdetén ingyenesen 
        rendelkezésünkre bocsátott – Isten fizesse meg! Számos lábjegyzet is 
        közvetlenül Tőle származik.
    </p>
    <p class="text-justify">
        A nyelvtani elemzések zömét a fönt bemutatott munkamódszerrel magunk 
        készítettük el, de fontos megemlíteni Giovanni Venturini hozzájárulását. 
        Ő <a href="http://www.laparola.net/file/verbi.zip">az Újszövetség összes 
            igéjéhez nyelvtani elemzést készített</a>, és ezt a rendelkezésünkre 
        bocsátotta. Ezt beépítve a nyelvtani elemzést az Újszövetség egészének 
        a vonatkozásában el tudtuk készíteni. 
    </p>
    <p class="text-justify">
        Csak a korrektúrázáshoz kellett használni azokat az Amerikában 
        kidolgozott, Dr. Maurice Robinson rövidítésrendszerén alapuló 
        elemzéseket, amelyeket magyar fölhasználók legkönnyebben a <a 
            href="http://www.theword.net/">The Word projektben</a>, a <a 
            href="http://baranyilaszlozsolt.com/theword/greek-hebrew-bibles/Greek%20Tischendorf%20NT+%23.nt">
            Tischendorf-féle Szentíráskiadás fájljában</a> találhatnak meg, de 
        amelyet először <a href="http://www.laparola.net/">Mr. Richard Wilson</a> 
        bocsátott rendelkezésünkre. Ez azért volt szerencsés körülmény, mert így 
        a tényleges összevetés tényleg lehetővé tette a különbségek átgondolását, 
        és mindkét elemzési adatbázis javítását (a <a href="http://www.theword.net/">
            The Word projekt felelősei</a> ill. <a href="http://www.laparola.net/">Mr. 
            Richard Wilson</a> felé természetesen csak javaslatokat tettünk).
    </p>

    <h3 id="Szotar">Szótár</h3>           
    <p>A szavak magyarázatai mögött egy immár teljes görög-magyar gépszótár áll. Fő forrásai:</p>
    <ul>
        <li>Szabó Mária görög-magyar szószedete (vö. BÚG - 870 szó)</li>
        <li>Mickelson's enhanced Strong's greek dictionary (<a href="http://www.theword.net/">A The Word szoftver
                hivatalos szótára</a> - kb. 1800 szó, melyek közül kb. 1500-at Tóthmajor Kata, kb. 300-at Mézes Melinda
            fordított)
        </li>
        <li>Az előbbi olasz változata (vö: <a href="http://www.laparola.net">www.laparola.net</a> - kb. 2900 
            szó magyarázata származik innen, melyeket a szószedet szerkesztése 
            kapcsán a jelen tájékoztatót író Harmai Gábor fordítottam)
        </li>
    </ul>    
    <p class="text-justify">A lefordított szómagyarázatokat adott esetben saját 
        felelősségemre átalakítottam.</p>            
    <p class="text-justify">Mindenekelőtt a névszók alakváltozatainak a listái 
        jelentenek önálló munkát, míg az igék paradigmáit a BÚG-ból és a 
        BGOG-ből vettük át.</p>
    <p class="text-justify">A szótár javítása, bővítése folyamatos munka, 
        jelenleg az LXX szóhasználatának a párhuzamait igyekszünk megjeleníteni 
        a szómagyarázatokban.
    </p>

    <h3 id="Munkatasak_koszonetnyilvanitasok">Munkatársak, köszönetnyilvánítások</h3>
    <p class="text-justify">Az elmúlt két évtizedben bőségesen megtapasztaltam a zsoltáros igazságának pozitív oldalát: „Ha az Úr nem építi a házat, az építők hiába fáradnak.” (Zsolt 127,1). Ezt a szószedetet az Úr építette. Eleve ő adott erőt annak a fiatalembernek aki ezelőtt 20 évvel voltam és aki akkor minimális görög és minimális számítástechnikai tapasztalattal elindult. Isten mindig tovább lökött amikor magam elfáradtam volna. Ma már számomra is nehéz elképzelni, de a jelen szószedet első kezdetei WinWord táblázatok voltak, amikben WinWord makrók másolták a magyar jelentéseket az azonos szóalakokhoz.</p>
    <p class="text-justify">Az első ötletet Balázs Károly adta, akinek remek munkája, az Újszövetségi Szómutató Szótár döntő inspiráció volt, hogy érdemes az Újszövetség adatbázisba szervezésén törni a fejem. A szószedet jelen formájában nem tartalmazza Balázs Károly saját zseniális ötletét, amivel egy nagyon csavart adatbázislogikával összekötözte a görög Szentírást Károli Gáspár fordításával (vö. ÚSzSz), mégis, Balázs Károly nagyon sokat adott nekem. Még papnövendék voltam, amikor személyesen találkozhattunk, és elmondta, hogy ő a maga munkáján 30 évig dolgozott. Ez önmagában döntő biztatás volt, hogy érdemes néhány évtizedet a Szentírásra szánnom. Jómagam Balázs Károlytól tudtam meg, hogy még a XIX. században James Strong besorszámozta a görög (és a héber) Szentírás szavait, és ennek alapján értettem meg, hogy a jelen weblap mögötti adatbázis felépíthető. </p>
    <p class="text-justify">Isten mindig tovább vezetett, amikor magam elfáradtam volna. A munkatársak, akiket fent felsoroltam, mindig úgy lendületet is adtak. Amikor WinWordben elkészült a Filippi levél, lényegében a doktori disszertációm mellékleteként, jelentkezett Horváth Endre, és vállalta, hogy elkészíti a Corpus Paulinumot. Endre Szegeden tanítványa volt Szabó Mária tanárnőnek és így közvetített a tanárnő felé. Szabó Mária anyagai szintén nélkülözhetetlennek bizonyultak. Szabó Mária segítsége volt az is, hogy megtalálta egy másik tanítványát, Szabó Miklós Xavér OFM-et, aki pedig nagy lelkesedéssel vágott bele a Márk evangélium szószedetébe. Xavért a lendület az eredeti vállaláson túl a Lukács evangélium jó feléig is elvitte, de utána jelezte, hogy amit ténylegesen elvállalt, megtette, legyen elég. Isten fizesse meg, korrekt munka volt! </p>
    <p class="text-justify">Sajnos a római tanulmányok befejeztével és papszentelésünkkel Endre érdeklődése is a délvidéki plébániai- és egyházi munka felé fordult, pedig addigra fejezetről fejezetre nem csak a Corpus Paulinum, hanem a Jelenések könyve és több katolikus levél is elkészült, ill. a János evangélium fele. Endre leállása ill. saját új papi feladataim néhány évre nekem is kedvem szegték, de így utólag talán nem baj, hogy végülis nem csak szervezőmenedzserként és programozóként, hanem tényleges társszerzőként is szerepet vállalhattam a saját ötletem kibontásában. Endrének ma is hálával tartozom mindazokkal együtt, akik szószedetünket használják.</p>
    <p class="text-justify">Amikor láttam, hogy a munka egyre komolyabb körvonalakat ölt, és föltámadtak bennem a szerzői jogi aggályok, a Német Bibliatársulat megadta az engedélyt a netről leszedett <a href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-27/lesen-im-bibeltext/">Nestlé-Aland 27 Szentírásszöveg</a> használatára. Bár ezt az engedélyt utóbb visszavonták, az akkori gesztusért hálával tartozom. Ennek köszönhető munkánk szövegkritikai dimenziója: a lábjegyzetekben teljesen összevetettük a GNT_WH-t és a GNT27-et. Tervezek ezzel kapcsolatban egy későbbi összefoglaló cikket is. </p>
    <p class="text-justify">Eredeti tervem egy könyv alakú szószedet elkészítése volt. Erre most sem tettem le teljesen, mivel publikációs hivatkozási alapként egy nyomtatott anyag sokkal jobb, mint egy weboldal. Beláttam azonban, hogy az egyre szaporodó szótári információk és lábjegyzetanyag egy honlapon sokkal jobban megjeleníthető.</p>
    <p class="text-justify">A honlap első verziója, amely több, mint 10 évig látható volt, és több százezer keresést vonzott, plébániai hívem, Süttő Dániel munkája. Magam az előző évezredből ittrekedt programozó vagyok, sok szempontból hatékonyan használom a számítástechnikát, de az internetes forradalomból kimaradtam. Arra képesnek bizonyultam még a projekt elején, hogy <a href="http://www.ujszov.hu/letolthetok/Gorog_iras_szamitogepen.doc">a WinWordot megtanítsam görögül írni</a>, tehát hogy latin betűs görög átiratot oda-vissza váltson görög betűs szavakra, de a honlapfejlesztés nem az én világom. Dani viszont képes volt a jelenleg is látható formába önteni az elképzelésemet, és ez újra mozgásba hozta a saját akaratomat is. Xavér munkájának a kibővítésével elkészítettem a szinoptikusok, majd a János evangélium szószedetét (utóbbi elejével Endre is dolgozott). </p>
    <p class="text-justify">Eközben építgettem a netes kapcsolatokat más hasonló projekteken dolgozó kollégákkal. Így kerültem kapcsolatba egy Olaszországban, Trentoban működő ausztrál baptista lelkésszel, <a href="http://www.laparola.net/">Mr. Richard Wilsonnal</a>, akitől remek anyagokat kaptam. Legfontosabb az általa angolból fordított görög-olasz szótár volt, amelynek szócikkeit tovább fordítottam magyarra. Versfordítás esetén ez a kettős továbbfordítás nyilván rémes eredményt hozna, de szótári szócikkek esetében ott az eredeti görög szöveg, amely jelentősen megköti a szárnyaló fantáziát. Jól jött <a href="http://www.laparola.net/file/verbi.zip">Giovanni Venturini</a> munkája is, őrá Richard hívta föl a figyelmemet. Nagy lökést adott az igék általa készített elemzésének a beépítése a mi munkánkba.</p>    
    <p class="text-justify">Közben az eredeti görög-angol szótár, a Mickelson's enhanced Strong's greek dictionary digitalizált változatát is megtaláltam, amelyet a nagyközönség a <a href="http://www.theword.net/">The Word projektben</a> érhet el. Ennek fordítására plébániai munkatársakat állítottam rá: Mézes Melindát és Tóthmajor Katát. így azokat a szócikkeket, amelyekbe én az evangéliumok kapcsán nem ütköztem bele, ők fordították angolból. Isten áldását kérem rájuk!</p>
    <p class="text-justify">Hatalmas, de végső elemzésben megerősítő válságot jelentett, hogy a Német Bibliatársulat visszavonta a korábbi engedélyt a GNT27 szöveg főszövegként való kezelésére a weboldalunkon. Ekkor rengetegen siettek a segítségemre, hogy a GNT27-et elfogadható minőségűen digitalizált Wescott & Hort szövegre cserélhessem. Netes kollégák is segítettek, de plébániai munkatársak is. Nevük a tájékoztató első fejezetében olvasható. Hatalmas hozzájárulásuk lelki megerősítést is jelentett: miattuk sem tehettem meg, hogy nem fejezem be a szószedetet, így azután tovább lépkedtem mindmostanáig az Apostolok Cselekedetei fejezeteivel.</p>
    <p class="text-justify">Többször említettem a <a href="http://www.theword.net/">The Word projektet</a>. A mi munkánkba főleg a Michelson-féle szótár magyarra fordított szócikkei kerültek be onnan, de fontos referencia-anyagot jelent a <a href="http://baranyilaszlozsolt.com/theword/greek-hebrew-bibles/Greek%20Tischendorf%20NT+%23.nt">The Wordben végigelemzett Tischendorf-féle újszövetségkiadás</a> is. Ez igazából egy jobb, több helyen javított, de több helyen Tischendorf minimálisan eltérő szavaihoz alkalmazott változata a Richard Wilson által korábban küldött munkának. Alkalmat adott a nyelvtani elemzéseink tripla összevetésére. Richard anyagaival és a The Word elemzéseivel is összevetettem a miénket, és így nagy számú hibát javíthattam ki.</p>

    <h3 id="Tovabbi_tervek">További tervek</h3>
	<p class="text-justify">2017-ben elkészült Fodor Bertalan munkája, a honlap második verziója, amelyben már nem csak az Újszövetség, hanem elvileg bármilyen görög szöveg megjeleníthető. Gyakorlatilag jelenleg a Septuagintán elkezdett munkát mutatjuk be, melyben Takács Plamen már kidolgozta a Genezis és az Exodus szószedetét, Tamaskó Gabi pedig a Bölcsesség könyvét, de nyelvtani elemzéseket a teljes corpusra adunk, amit egy wikikönyvben foglalt amerikai munkának köszönünk. Patrisztikus anyagként bemutatjuk a Didachét és a Nícea-Konstantinápolyi Hitvallást, klasszikus görög szövegként pedig valóban jelképesen csak Szimonidesz híres kétsorosát, a Thermopülainál elesett spártai hősök sírföliratát. Az új honlapon versszámokra is lehet klikkelni, és akkor a teljes vers magyar fordítása megjelenik a Szent Jeromos Társulat www.szentiras.hu honlapon látható fordítása szerint. Bertalan teljesebben is összekötötte a honlapot a www.szentiras.hu-val: néhány kattintással az összes ott megjelent magyar fordítás megközelíthető.</p>
    <p class="text-justify">További terveinket meghatározza, hogy mire találunk munkatársakat. Konkrétan jelentkezett Takács Plamen, aki máris hatalmas munkát végzett a Septuaginta hasonló szószedetén: elkészítette a Genezist és az Exodust és most a Zsoltárok könyvén dogozik. Kézenfekvőek pl. a Deuterokanonikus könyvek, ha azok elkészítésére vállalkozik valaki, azt nagy örömmel kapcsolnánk a munkánkhoz. A Bölcsesség könyve szószedetét már el is készítette Tamaskó Gabi.</p>
    <p class="text-justify">Lehetséges azonban pl. klasszikus görög szövegek vagy egyházatyák hasonló stílusú preparációja is. </p>
    <p class="text-justify">Mindezekben bárki segítségét, észrevételeit szívesen vesszük.</p>
    <p class="text-justify">A héber Ószövetség preparációjának és szótárazásának útjában komoly technikai akadály, hogy a kevert, héber- és másnyelvű írás a számítógépen alapjában megoldatlan. Ennek ellenére van egy Excelben kipreparált Jónás könyvem, amennyiben azt sikerül közzétennem, az jelezni fogja, hogy a szószedet kiterjeszthető majd az Ószövetségre is.</p>
    <p class="text-justify">Hosszú távú célunk mindezt egy Interneten, vagy akár nyomtatásban is kiadott magyar nyelvű biblikus folyóirattá fejleszteni.</p>

    <div style="text-align: left; margin-left: 360px;">
        Harmai Gábor<br/>
        e-mail (ember számára olvasható formában): <br/>
        harmaig kukac ehf pont hu<br/>
    </div>
{% endblock %}