{% extends "layout" %}

{% block content %}


<h3><a href="http://www.laparola.net/">Olasz testv&eacute;roldalunk</a></h3>

A mi&eacute;nkhez hasonl&oacute; olasz nyelvtani
    elemz&eacute;seket tartalmaz (A sz&oacute;t&aacute;ri
    inform&aacute;ci&oacute;k k&uuml;l&ouml;n
    sz&oacute;t&aacute;rf&aacute;jlban vannak.) <br>

    Az olasz koll&eacute;g&aacute;kt&oacute;l sok
    seg&iacute;ts&eacute;get kaptunk, grazie.<a href="http://www.laparola.net/"></a><br>

<h3><a href="http://www.kimmitt.co.uk/gnt/gnt.html">Anthony
        J. Fisher sz&oacute;szedete</a></h3>

Csak nyelvtani elemz&eacute;seket tartalmaz.&nbsp;A szerző sajnos
    n&eacute;h&aacute;ny &eacute;ve Istenhez k&ouml;lt&ouml;z&ouml;tt, <br>
    a szerver tulajdonosa, Mr. Jonathan Kimmit sz&iacute;vess&eacute;g&eacute;ből megkaptuk az adatb&aacute;zist, egyik <br>
    folyamatos projekt&uuml;nk a mi&eacute;nkkel &ouml;sszevetni.<a href="http://www.kimmitt.co.uk/gnt/gnt.html"></a>
<h3><a href="http://www.helding.net/greeklatinaudio/">Hallgathat&oacute;
        biblia</a></h3>

Fejzetenk&eacute;nt let&ouml;lthető a
    g&ouml;r&ouml;g &Uacute;jsz&ouml;vets&eacute;g MP3
    form&aacute;tumban<br>
<h3><a href="http://codexsinaiticus.org/en/">A Codex
        Sinaiticus digitaliz&aacute;lt anyaga</a></h3>

A legősibb teljes g&ouml;r&ouml;g
    Szent&iacute;r&aacute;s k&oacute;dexe most b&aacute;rki
    sz&aacute;m&aacute;ra tanulm&aacute;nyozhat&oacute; a
    neten!<a href="http://codexsinaiticus.org/en/"><br>
</a>
<h3><a href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-27/lesen-im-bibeltext/">A g&ouml;r&ouml;g
        &Uacute;jsz&ouml;vets&eacute;g Nestl&eacute;
        - Aland kiad&oacute; &aacute;ltal
        k&eacute;sz&iacute;tett sz&ouml;vegv&aacute;ltozata 27.
        kiad&aacute;sa (GNT27)</a>
</h3>

A modern kutat&oacute;k k&ouml;r&eacute;ben ez a
    Szent&iacute;r&aacute;skiad&aacute;s az &uacute;j "Textus Receptus":
    tudom&aacute;nyos dolgozatban ebből szok&aacute;s id&eacute;zni. &nbsp;<br>
    A mi Wescott &amp; Hort sz&ouml;veg&uuml;nkben szerzői jogi okokb&oacute;l (lsd.&nbsp;<a href="/help">T&aacute;j&eacute;koztat&oacute;</a>) csak sz&ouml;vegkritikai jelekkel jelezz&uuml;k, <br>
    &eacute;s l&aacute;bjegyzetben
    &eacute;rt&eacute;kelj&uuml;k&nbsp;azokat a helyeket, ahol a GNT27
    elt&eacute;r a mi sz&ouml;vegvari&aacute;nsunkt&oacute;l.&nbsp;
{% endblock %}