{% extends "layout" %}

{% block content %}
<h3><a href="http://codexsinaiticus.org/en/">A Codex Sinaiticus
digitalizált anyaga</a></h3>
Az egyik legősibb teljes görög Szentírás kódexe bárki számára
tanulmányozható a neten!<a href="http://codexsinaiticus.org/en/">
</a>
<h3><a
href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-27/lesen-im-bibeltext/">A
görög Újszövetség Nestlé - Aland kiadó által készített szövegváltozata
27. kiadása (GNT27)</a></h3>
A modern kutatók körében ez a Szentíráskiadás az új "Textus Receptus":
tudományos dolgozatban ebből szokás idézni.
A mi Wescott &amp; Hort szövegünkben szerzői jogi okokból (lsd. <a
href="/help">Tájékoztató</a>) csak
szövegkritikai jelekkel jelezzük,
és lábjegyzetben értékeljük azokat a helyeket, ahol a GNT27 eltér a mi
szövegvariánsunktól.
<h3><a href="http://www.helding.net/greeklatinaudio/">Hallgatható
biblia</a></h3>
Fejzetenként letölthető a görög Újszövetség MP3 formátumban, sajnos nem
Rotterdami Erasmus kiejtése szerint, amit Magyarországon tanítunk.
<h3> <a href="http://www.laparola.net/">Olasz testvéroldalunk</a></h3>
A miénkhez hasonló olasz nyelvtani elemzéseket tartalmaz (A szótári
információk külön szótárfájlban vannak.)
Az olasz kollégáktól sok segítséget kaptunk, grazie.
<h3><a href="http://www.kimmitt.co.uk/gnt/gnt.html">Anthony J. Fisher
szószedete</a></h3>
Csak nyelvtani elemzéseket tartalmaz. A szerző sajnos néhány éve
Istenhez költözött,
a szerver tulajdonosa, Mr. Jonathan Kimmit szívességéből megkaptuk az
adatbázist, egyik
korrektúra-projektünk volt a miénkkel összevetni.

{% endblock %}
