{% extends "layout" %}

{% block content %}

<h3>Témák</h3>
<ol>
<li><a href="#c1">Szentírási könyvek rövidítései</a></li>
<li><a href="#c1a">A Septuaginta sajátos rövidítései</a></li>
<li><a href="#c1b">További corpusok rövidítései</a></li>
<li><a href="#c2">Szakirodalmi rövidítések</a></li>
<li><a href="#c3">Szófajok</a></li>
<li><a href="#c4">Szóelemzési rövidítések</a></li>
<li><a href="#c5">Deklinációelemzések</a></li>
<li><a href="#c6">Mondattani rövidítések</a></li>
<li><a href="#c7">Szakkifejezések</a></li>
</ol>
<h3 id="c1">Szentírási könyvek rövidítései</h3>
<p>Érdekességképpen idetettük a közkézen forgó Szentírásfordítások ill. segédkönyvek rövidítésjegyzékeit. Ezeket<br>ténylegesen figyelembe vettük, amikor a saját jegyzékünket összeállítottuk. Alapvetően a KNB jegyzékét vettük át, de indokolt esetben eltértünk.</p>
<table class="table table-striped">
<tbody>
<tr>
<th>Magyar</th>
<th>Szószedet</th>
<th><a href="https://szentiras.hu/KNB">KNB</a></th>
<th><a href="https://szentiras.hu/SZIT">SZIT</a></th>
<th><a href="https://szentiras.hu/STL">STL</a><a title="Az Ószövetségre csak hivatkozik, nem rövidít minden könyvet." data-toggle="tooltip"><sup>1</sup></a></th>
<th><a href="https://szentiras.hu/BD">BD</a><a title="Az Ószövetségre csak hivatkozik, nem rövidít minden könyvet." data-toggle="tooltip"><sup>1</sup></a></th>
<th><a href="https://szentiras.hu/KG">KG</a></th>
<th><a href="https://szentiras.hu/RUF">RUF</a></th>
<th><a href="#USZSZ">ÚSzSz</a><sup><a title="A katolikus “deuterokanonikus” könyvek az Újszövetségi szómutató szótárban “apokrifek”." data-toggle="tooltip">2</a></sup></th>
</tr>
<tr>
<td>Teremtés könyve</td>
<td>Ter</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Gen</td>
<td>1Móz</td>
<td>1Móz</td>
<td>1Móz</td>
</tr>
<tr>
<td>Kivonulás könyve</td>
<td>Kiv</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Exod</td>
<td>2Móz</td>
<td>2Móz</td>
<td>2Móz</td>
</tr>
<tr>
<td>Leviták könyve</td>
<td>Lev</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Lev</td>
<td>3Móz</td>
<td>3Móz</td>
<td>3Móz</td>
</tr>
<tr>
<td>Számok könyve</td>
<td>Szám</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Num</td>
<td>4Móz</td>
<td>4Móz</td>
<td>4Móz</td>
</tr>
<tr>
<td>Teremtés könyve</td>
<td>Ter</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Gen</td>
<td>1Móz</td>
<td>1Móz</td>
<td>1Móz</td>
</tr>
<tr>
<td>Kivonulás könyve</td>
<td>Kiv</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Exod</td>
<td>2Móz</td>
<td>2Móz</td>
<td>2Móz</td>
</tr>
<tr>
<td>Leviták könyve</td>
<td>Lev</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Lev</td>
<td>3Móz</td>
<td>3Móz</td>
<td>3Móz</td>
</tr>
<tr>
<td>Számok könyve</td>
<td>Szám</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Num</td>
<td>4Móz</td>
<td>4Móz</td>
<td>4Móz</td>
</tr>
<tr>
<td>Második Törvénykönyv</td>
<td>MTörv</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Deut</td>
<td>5Móz</td>
<td>5Móz</td>
<td>5Móz</td>
</tr>
<tr>
<td>Józsue könyve</td>
<td>Józs</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Bírák könyve</td>
<td>Bír</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>~</td>
<td>Bir</td>
<td>~</td>
</tr>
<tr>
<td>Rút könyve</td>
<td>Rút</td>
<td>~</td>
<td>Rut</td>
<td>-</td>
<td>-</td>
<td>Ruth</td>
<td>Ruth</td>
<td>Ruth</td>
</tr>
<tr>
<td>Sámuel első könyve</td>
<td>1Sám</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>1Kir</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Sámuel második könyve</td>
<td>2Sám</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>2Kir</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Királyok első könyve</td>
<td>1Kir</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>3Kir</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Királyok második könyve</td>
<td>2Kir</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>4Kir</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Krónikák első könyve</td>
<td>1Krón</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Krónikák második könyve</td>
<td>2Krón</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Ezdrás könyve</td>
<td>Ezdr</td>
<td>~</td>
<td>Ezd</td>
<td>-</td>
<td>-</td>
<td>Ezsd</td>
<td>Ezsdr</td>
<td>Ezsd</td>
</tr>
<tr>
<td>Nehemiás könyve</td>
<td>Neh</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Tóbiás könyve</td>
<td>Tób</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Judit könyve<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>Jud</td>
<td>Judit</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Eszter könyve</td>
<td>Eszt</td>
<td>~</td>
<td>Esz</td>
<td>-</td>
<td>-</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Jób könyve</td>
<td>Jób</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Zsoltárok könyve</td>
<td>Zsolt</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Példabeszédek könyve</td>
<td>Péld</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>A Prédikátor könyve</td>
<td>Préd</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Énekek éneke</td>
<td>Én</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>Énekek</td>
<td>Ének.Én</td>
<td>~</td>
</tr>
<tr>
<td>Bölcsesség könyve</td>
<td>Bölcs</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>~</td>
</tr>
<tr>
<td>Jézus, Sirák fiának könyve<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>Sir</td>
<td>Sír</td>
<td>~</td>
<td>Sirák</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>Sirák</td>
</tr>
<tr>
<td>Izaiás könyve</td>
<td>Iz</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Ézs(aiás)</td>
<td>Ésa</td>
<td>Ézs</td>
</tr>
<tr>
<td>Jeremiás könyve</td>
<td>Jer</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Jeremiás siralmai</td>
<td>Siralm</td>
<td>~</td>
<td>Siral</td>
<td>-</td>
<td>-</td>
<td>JSir</td>
<td>Sir</td>
<td>JSir</td>
</tr>
<tr>
<td>Báruk könyve</td>
<td>Bár</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>~</td>
</tr>
<tr>
<td>Ezekiel könyve</td>
<td>Ez</td>
<td>~</td>
<td>~</td>
<td>Eze</td>
<td>Ezek</td>
<td>~</td>
<td>Ezék</td>
<td>~</td>
</tr>
<tr>
<td>Dániel könyve</td>
<td>Dán</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Ózeás könyve</td>
<td>Óz</td>
<td>~</td>
<td>Oz</td>
<td>Oz</td>
<td>~</td>
<td>Hós</td>
<td>Hós</td>
<td>Hós</td>
</tr>
<tr>
<td>Joel könyve</td>
<td>Jo</td>
<td>~</td>
<td>~</td>
<td>Joel</td>
<td>Joel</td>
<td>Jóel</td>
<td>Jóel</td>
<td>Jóel</td>
</tr>
<tr>
<td>Ámosz könyve</td>
<td>Ám</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Ámós</td>
<td>~</td>
</tr>
<tr>
<td>Abdiás könyve</td>
<td>Abd</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Jónás könyve</td>
<td>Jón</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Mikeás könyve</td>
<td>Mik</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Náhum könyve</td>
<td>Náh</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Habakuk könyve</td>
<td>Hab</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Szofoniás könyve</td>
<td>Szof</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>~</td>
<td>Zof</td>
<td>Sof</td>
<td>Zof</td>
</tr>
<tr>
<td>Aggeus könyve</td>
<td>Agg</td>
<td>~</td>
<td>Ag</td>
<td>Ag</td>
<td>~</td>
<td>Hag</td>
<td>~</td>
<td>Ag</td>
</tr>
<tr>
<td>Zakariás könyve</td>
<td>Zak</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Malakiás könyve</td>
<td>Mal</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Malak</td>
<td>~</td>
</tr>
<tr>
<td>A Makkabeusok első könyve<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>1Mak</td>
<td>1Makk</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>~</td>
</tr>
<tr>
<td>A Makkabeusok második könyve<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>2Mak</td>
<td>2Makk</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>-</td>
<td>-</td>
<td>~</td>
</tr>
<tr>
<td>Evangélium Máté szerint</td>
<td>Mt</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Mát</td>
<td>~</td>
</tr>
<tr>
<td>Evangélium Márk szerint</td>
<td>Mk</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Márk</td>
<td>~</td>
</tr>
<tr>
<td>Evangélium Lukács szerint</td>
<td>Lk</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Luk</td>
<td>~</td>
</tr>
<tr>
<td>Evangélium János szerint</td>
<td>Jn</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Ján</td>
<td>~</td>
</tr>
<tr>
<td>Apostolok Cselekedetei<a title="Az „ApCsel” rövidítés túl hosszú, a „Csel” a latin „Act” rövidítés magyarítása, nem önálló magyar rövidítés. Ezért használjuk a fönti „Acs”-t." data-toggle="tooltip"><sup>4</sup></a></td>
<td>Acs</td>
<td>Csel</td>
<td>ApCsel</td>
<td>ApCsel</td>
<td>ApCsel</td>
<td>ApCsel</td>
<td>Csel</td>
<td>Csel</td>
</tr>
<tr>
<td>Rómaiaknak írt levél</td>
<td>Róm</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Első levél a korintusiaknak</td>
<td>1Kor</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Második levél a korintusiaknak</td>
<td>2Kor</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Levél a galatáknak</td>
<td>Gal</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Levél az efezusiaknak</td>
<td>Ef</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>Eféz</td>
<td>~</td>
</tr>
<tr>
<td>Levél a filippieknek</td>
<td>Fil</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Levél a kolosszeieknek</td>
<td>Kol</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Első levél a Tesszalonikiaknak</td>
<td>1Tessz</td>
<td>~</td>
<td>1Tesz</td>
<td>~</td>
<td>~</td>
<td>1Thessz</td>
<td>1Thess</td>
<td>1Thes</td>
</tr>
<tr>
<td>Második levél a Tesszalonikiaknak</td>
<td>2Tessz</td>
<td>~</td>
<td>2Tesz</td>
<td>~</td>
<td>~</td>
<td>2Thessz</td>
<td>2Thess</td>
<td>2Thes</td>
</tr>
<tr>
<td>Első levél Timóteusnak</td>
<td>1Tim</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Második levél Timóteusnak</td>
<td>2Tim</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Levél Titusznak<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>Tit</td>
<td>Tít</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Levél Filemonnak</td>
<td>Filem</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Levél a zsidóknak</td>
<td>Zsid</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Jakab levele</td>
<td>Jak</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>Péter első levele<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>1Pt</td>
<td>1Pét</td>
<td>~</td>
<td>~</td>
<td>1Pét</td>
<td>~</td>
<td>1Pét</td>
<td>1Pét</td>
</tr>
<tr>
<td>Péter második levele<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>2Pt</td>
<td>2Pét</td>
<td>~</td>
<td>~</td>
<td>2Pét</td>
<td>~</td>
<td>2Pét</td>
<td>2Pét</td>
</tr>
<tr>
<td>János első levele<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>1Jn</td>
<td>1Ján</td>
<td>~</td>
<td>~</td>
<td>1Ján</td>
<td>~</td>
<td>1Ján</td>
<td>~</td>
</tr>
<tr>
<td>János második levele<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>2Jn</td>
<td>2Ján</td>
<td>~</td>
<td>~</td>
<td>2Ján</td>
<td>~</td>
<td>2Ján</td>
<td>~</td>
</tr>
<tr>
<td>János harmadik levele<a title="Eltértünk a KNB-rövidítéstől a Szent István Társulat fordításának rövidítését követve." data-toggle="tooltip"><sup>3</sup></a></td>
<td>3Jn</td>
<td>3Ján</td>
<td>~</td>
<td>~</td>
<td>3Ján</td>
<td>~</td>
<td>3Ján</td>
<td>~</td>
</tr>
<tr>
<td>Júdás levele</td>
<td>Júd</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>János jelenései</td>
<td>Jel</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
<td>~</td>
</tr>
<tr>
<td>eltérések a szószedettől</td>
<td>&nbsp;</td>
<td>11</td>
<td>9</td>
<td>6</td>
<td>18</td>
<td>18</td>
<td>30</td>
<td>19</td>
</tr>
</tbody>
</table>
<h3 id="c1a">A Septuaginta sajátos rövidítései</h3>
<table class="table table-striped">
<tbody>
<tr>
<td>LXX</td>
<td>
<p>Septuaginta; <span style="font-size: inherit; font-family: inherit; font-weight: inherit;">Honlapunkon a </span><a style="font-size: inherit; font-family: inherit; font-weight: inherit;" href="http://www.vatican.va/archive/bible/nova_vulgata/documents/nova-vulgata_vetus-testamentum_lt.html">Neovulgata kánonja</a><span style="font-size: inherit; font-family: inherit; font-weight: inherit;"> szerint soroljuk föl a kanonizált szentírási könyveket. Ezt a kánont a </span><a style="font-size: inherit; font-family: inherit; font-weight: inherit;" href="https://szentiras.hu/KNB">KNB</a><span style="font-size: inherit; font-family: inherit; font-weight: inherit;"> pontosan, a </span><a style="font-size: inherit; font-family: inherit; font-weight: inherit;" href="https://szentiras.hu/SZIT">SZIT</a><span style="font-size: inherit; font-family: inherit; font-weight: inherit;"> minimális eltéréssel követi. A szentírási könyvek után tettük az apokrifeket, majd a szentírási könyvek alternatív szövegváltozatait.</span></p>
</td>
</tr>
<tr>
<td>LXX_R</td>
<td>ed. ALFRED RAHLFS, <i style="font-size: inherit; font-family: inherit; font-weight: inherit;">Septuaginta I-II</i><span style="font-size: inherit; font-family: inherit; font-weight: inherit;">, Stuttgart, 1935</span><sup style="font-family: inherit; font-weight: inherit;">9</sup><span style="font-size: inherit; font-family: inherit; font-weight: inherit;">.</span>
<p>A digitális szöveget, és a nyelvtani elemzések első változatát egy <a href="https://en.katabiblon.com/us/?text=LXX">párhuzamos amerikai vállalkozástól</a> vettük át, amely erre a könyvre épít.</p>
<p>Az átvett szövegbe számos saját javítást tettünk egyrészt a könyv alapján, másrészt a <a href="https://www.bibelwissenschaft.de/online-bibeln/septuaginta-lxx/lesen-im-bibeltext/">a Német Bibliatársulat honlapján</a> közölt digitális LXX_RH szöveg alapján (lásd következő).</p>
</td>
</tr>
<tr>
<td>LXX_RH</td>
<td>ed. ALFRED RAHLFS, ROBERT HANHART, <i style="font-size: inherit; font-family: inherit; font-weight: inherit;">Septuaginta</i><span style="font-size: inherit; font-family: inherit; font-weight: inherit;">, Stuttgart, 2006</span><span style="font-size: inherit; font-family: inherit; font-weight: inherit;">.</span>
<p>A digitális szöveget <a href="https://www.bibelwissenschaft.de/online-bibeln/septuaginta-lxx/lesen-im-bibeltext/">a Német Bibliatársulat honlapja közli.</a></p>
<p>Az LXX_R minimális revíziója, összesen 155 javítás, melyek közül 78 csak hangsúlyjeleket érint. Honlapunkon lábjegyzetbem hozzuk, az LXX_R-rel összevetve, <a href="https://www.ujszov.hu/text?corpus=1&amp;book=102&amp;chapter=2&amp;verse=11#!10200201100120">az első itt</a>.</p>
</td>
</tr>
<tr>
<td>Bír_A</td>
<td>A Bírák könyve az A jelű Alexandriai kódex fordításának szövege szerint, vö. LXX_R I, Iud(icum), a lapok fölső részén közölt szöveg. Lásd még Bír_B</td>
</tr>
<tr>
<td>2Ezdr/Ezdr_Neh</td>
<td>Ezdrás II. könyve. Ezdrás I. könyve egy apokrif irat, lásd. lentebb. Az LXX "Ezdrás II. könyve" néven összevonja Ezdrás és Nehemiás könyvét, amelyet a Maszoréta kánonban és a modern Bibliakiadásokban szétválasztva találunk. Neh 1,1 = 2Ezdr 11,1</td>
</tr>
<tr>
<td>Tób_BA</td>
<td>A Bírák könyve az A jelű Alexandriai kódex és a B jelű Vatikáni kódex fordításának szövege szerint, vö. LXX_R I, Tob(it), a lapok fölső részén közölt szöveg. Lásd még Tób_S</td>
</tr>
<tr>
<td>3-4Mak</td>
<td>A Makkabeusok III. ill. IV. könyve - két apokrif irat.</td>
</tr>
<tr>
<td>JerLev</td>
<td>Jeremiás levele - apokrif irat</td>
</tr>
<tr>
<td>1Ezdr</td>
<td>Ezdrás I. könyve - apokrif irat, nem egyezik meg a maszoréta Ezdrás könyvével! Lásd még 2Ezdr/Ezdr_Neh</td>
</tr>
<tr>
<td>Ód</td>
<td>Ódák - részben már keresztény apokrif költemények</td>
</tr>
<tr>
<td>SalZsolt</td>
<td>Salamon zsoltárai - apokrif irat</td>
</tr>
<tr>
<td>Józs_A</td>
<td>Józsue 15,43-15,61.18,22-19,45 az A jelű Alexandriai kódex fordításának szövege szerint, vö. LXX_R I, Ios(ue), a lapok jobb oldalán közölt szöveg.</td>
</tr>
<tr>
<td>Bír_B</td>
<td>A Bírák könyve a B jelű Vatikáni kódex fordításának szövege szerint, vö. LXX_R I, Iud(icum), a lapok alsó részén közölt szöveg. Lásd még Bír_A</td>
</tr>
<tr>
<td>Tób_S</td>
<td>Tóbiás könyve az S jelű kódex fordításának szövege szerint, vö. LXX_R I, Tob(it), a lapok alsó részén közölt szöveg. Lásd még Tób_BA&nbsp;</td>
</tr>
<tr>
<td>Dán_Th</td>
<td>Dániel könyve Theodotion fordítása szerint, vö. LXX_R II, Dan(iel).</td>
</tr>
<tr>
<td>Zsuzs_Th</td>
<td>Zsuzsanna könyve Theodotion fordítása szerint, vö. LXX_R II, Sus(anna).</td>
</tr>
<tr>
<td>Bél_Th</td>
<td>A Bél kígyó története Theodotion fordítása szerint, vö. LXX_R II, Bel-et-Dr(aco).</td>
</tr>
</tbody>
</table>
<h3 id="c1b">További corpusok rövidítései</h3>
<table class="table table-striped">
<tbody>
<tr>
<td>Didaché</td>
<td>Az oldalunkon közölt szöveg forrása ez a szövegkiadás: <a href="https://archive.org/details/Hemmer_LesPeresApostoliques/page/n13">ed. HIPPOLYTE HEMMER, GABRIEL OGER, A. LAURENT, <i> Les pères apostoliques I-II. Doctrine des apôtres, Épître de Barnabé</i>, Paris, 1907</a></td>
</tr>
<tr>
<td>Credo</td>
<td>A Nicea-Konstantinápolyi Hitvallás; Digitálisan hozzáférhető <a href="https://prayer.enavasi.gr/content/%CF%84%E1%BD%B8-%CF%83%CF%8D%CE%BC%CE%B2%CE%BF%CE%BB%CE%BF-%CF%84%E1%BF%86%CF%82-%CF%80%CE%AF%CF%83%CF%84%CE%B5%CF%89%CF%82">pl. itt.</a></td>
</tr>
<tr>
<td>Spártaiak</td>
<td>
<p>SZIMONIDÉSZ: <em>A Thermopülainál elesett spártai hősök sírfölirata. </em>Közli: HÉRODOTOSZ: <em>Ὶστορίαι, </em><a href="https://www.sacred-texts.com/cla/hh/hh7220.htm">7,228,2</a></p>
</td>
</tr>
</tbody>
</table>
<h3 id="c2">Szakirodalmi rövidítések</h3>
<table class="table table-striped">
<tbody>
<tr>
<td id="BD"><a href="https://szentiras.hu/BD">BD</a></td>
<td>Magyar nyelvű <em>Újszövetség</em> P. Békés Gellért és P. Dalos Patrik fordítása szerint</td>
</tr>
<tr>
<td>BGOG</td>
<td>VARGA ZS. J., <em>Bibliai görög olvasó- és gyakorlókönyv</em>, Sárospatak, 2002<sup>3</sup></td>
</tr>
<tr>
<td id="BUG">BÚG</td>
<td>SZABÓ M., <em>Bevezetés az Újszövetség görög nyelvébe</em>, Szeged, 1997<sup>2</sup></td>
</tr>
<tr>
<td>GNG</td>
<td>BLASS, F. - DEBRUNNER, A. - REHKOPF, F., <em>Grammatik des neutestamentlichen Griechisch</em>, Göttingen, 2001<sup>18</sup></td>
</tr>
<tr>
<td>GNy</td>
<td>MAYWALD J. – VAYER L. – MÉSZÁROS E.,<em> Görög nyelvtan</em>, Budapest, 1987<sup>12</sup></td>
</tr>
<tr>
<td><a href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-27/lesen-im-bibeltext/">GNT27</a></td>
<td><em>Novum Testamentum Graece</em>, ed. NESTLE-ALAND, Stuttgart, 1898, 1993<sup>27</sup></td>
</tr>
<tr>
<td><a href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-28/lesen-im-bibeltext/">GNT28</a></td>
<td>
<p><em>Novum Testamentum Graece</em>, ed. NESTLE-ALAND, Stuttgart, 1898, 2012<sup>28<br></sup>Honlapunkon lábjegyzetben hozzuk az eltéréseket a GNT_WH és a GNT_28 között, első példa <a href="https://www.ujszov.hu/text/Mt#!20100100100060">itt</a>.</p>
</td>
</tr>
<tr>
<td>GNT_T</td>
<td><em>Novum Testamentum Graece</em>, ed. TISCHENDORF, Lipcse, 1886<sup>3</sup></td>
</tr>
<tr>
<td><a href="https://archive.org/details/NewTestamentOriginalGreek.Text.Lex.Notes.Wescott.Hort.1903">GNT_WH</a></td>
<td>
<p><em>The New Testament in the original greek</em>, ed. WESCOTT, B. F. - HORT, F. J. A., Cambridge, London, 1882, 1903<sup>12<br>A honlapunkon közölt görög Újszövetség ennek felel meg.</sup></p>
</td>
</tr>
<tr>
<td><a href="http://zsido.com/tema/biblia/">IMIT</a></td>
<td><em>Magyar nyelvű héber Szentírás</em> az Izraelita Magyar Irodalmi Társulat fordítása szerint</td>
</tr>
<tr>
<td id="KG"><a href="http://www.szentiras.hu/KG">KG</a></td>
<td>Magyar nyelvű Szentírás Károli Gáspár revideált fordítása szerint</td>
</tr>
<tr>
<td>KGy</td>
<td>Magyar nyelvű Szentírás Káldi György fordítása szerint</td>
</tr>
<tr>
<td>KNA26</td>
<td>Konkordanz zum Novum Testamentum Graece von Nestle-Aland, 26. Auflage und zum Greek New Testament, 3rd Edition, Berlin, New York, 1987</td>
</tr>
<tr>
<td>KNTS</td>
<td>Vollständige Konkordanz zum Griechischen Neuen Testament. Band II. Spezialübersichte, Berlin, New York, 1978</td>
</tr>
<tr>
<td id="KNB"><a href="http://www.szentiras.hu/KNB">KNB</a></td>
<td>Magyar nyelvű Szentírás a <a href="http://www.vatican.va/archive/bible/nova_vulgata/documents/nova-vulgata_index_lt.html">Neovulgáta</a> alapján</td>
</tr>
<tr>
<td>ÓGMSz</td>
<td>GYÖRKÖSSY A. – KAPITÁNFFY I. – TEGYEY I., Ógörög-magyar Szótár, Budapest, 1993<sup>2</sup></td>
</tr>
<tr>
<td id="RUF"><a href="http://www.szentiras.hu/RUF">RUF</a></td>
<td>Magyar nyelvű Szentírás az új protestáns fordítás szerint, a 2014-es revíziót is követve.</td>
</tr>
<tr>
<td id="SZIT"><a href="http://www.szentiras.hu/SZIT">SZIT</a></td>
<td>Magyar nyelvű Szentírás az új katolikus fordítás szerint</td>
</tr>
<tr>
<td>ÚGMSz</td>
<td>VARGA ZS., Újszövetségi görög-magyar szótár, Budapest, 1996.</td>
</tr>
<tr>
<td id="USZSZ">ÚSzSz</td>
<td>BALÁZS, K., Újszövetségi szómutató szótár. Károli Gáspár – 1908-ban revideált – fordításához. A Nestle-Aland: Novum Testamentum Graece 26. kiadása alapján készült Konkordanciával összevetve, Budapest, 1998.</td>
</tr>
</tbody>
</table>
<h3 id="c3">Szófajok</h3>
<table class="table table-striped">
<tbody>
<tr>
<th>Szófaj rövidítve</th>
<th>Szófaj latinul</th>
<th>Szófaj magyarul</th>
</tr>
<tr>
<td>adi.</td>
<td>adiectivum</td>
<td>melléknév</td>
</tr>
<tr>
<td>adi.compar.</td>
<td>adiectivum comparativum</td>
<td>középfokú melléknév</td>
</tr>
<tr>
<td>adi.superl.</td>
<td>adiectivum superlativum</td>
<td>fölsőfokú melléknév</td>
</tr>
<tr>
<td>adv.</td>
<td>adverbium</td>
<td>határozószó</td>
</tr>
<tr>
<td>adv.(compar.)</td>
<td>&nbsp;</td>
<td>hat. középfokú mn.-ből</td>
</tr>
<tr>
<td>adv.(superl.)</td>
<td>&nbsp;</td>
<td>hat. fölsőfokú mn.-ből</td>
</tr>
<tr>
<td>art.def.</td>
<td>articulus definitus</td>
<td>határozott névelő</td>
</tr>
<tr>
<td>card.</td>
<td>cardinale</td>
<td>tőszámnév</td>
</tr>
<tr>
<td>cit.ar.</td>
<td>citatum aramaicum</td>
<td>arám idézet</td>
</tr>
<tr>
<td>cit.lat.</td>
<td>citatum latinae</td>
<td>latin idézet</td>
</tr>
<tr>
<td>coni.</td>
<td>coniunctio</td>
<td>kötőszó</td>
</tr>
<tr>
<td>nm.</td>
<td>nomen</td>
<td>főnév</td>
</tr>
<tr>
<td>nm.coll.</td>
<td>nomen collectivum</td>
<td>közösségnév ("Izrael" szófaja)</td>
</tr>
<tr>
<td>nm.geo.</td>
<td>nomen geograficus</td>
<td>földrajzi név</td>
</tr>
<tr>
<td>nm.pers.</td>
<td>nomen personalis</td>
<td>személynév</td>
</tr>
<tr>
<td>ord.</td>
<td>ordinale</td>
<td>sorszámnév</td>
</tr>
<tr>
<td>partic.</td>
<td>particula</td>
<td>indulatszó</td>
</tr>
<tr>
<td>partic.interrog.</td>
<td>particula interrogativa</td>
<td>kérdőszó</td>
</tr>
<tr>
<td>partic.neg.</td>
<td>particula negativa</td>
<td>tagadószó</td>
</tr>
<tr>
<td>praep.</td>
<td>praepositio</td>
<td>prepozíció</td>
</tr>
<tr>
<td>pron.dem.</td>
<td>pronomen demonstrativum</td>
<td>mutató névmás</td>
</tr>
<tr>
<td>pron.indef.</td>
<td>pronomen indefinitivum</td>
<td>határozatlan névmás</td>
</tr>
<tr>
<td>pron.interrog.</td>
<td>pronomen interrogativum</td>
<td>kérdő névmás</td>
</tr>
<tr>
<td>pron.pers.</td>
<td>pronomen personale</td>
<td>személyes névmás</td>
</tr>
<tr>
<td>pron.poss.</td>
<td>pronomen possessivum</td>
<td>birtokos névmás</td>
</tr>
<tr>
<td>pron.rec.</td>
<td>pronomen reciprocum</td>
<td>kölcsönös névmás</td>
</tr>
<tr>
<td>pron.refl.</td>
<td>pronomen reflexivum</td>
<td>visszaható névmás</td>
</tr>
<tr>
<td>pron.rel.</td>
<td>pronomen relativum</td>
<td>vonatkozó névmás</td>
</tr>
<tr>
<td>verb.</td>
<td>Verbum</td>
<td>ige</td>
</tr>
</tbody>
</table>
<h3 id="c4">Szóelemzési rövidítések (vö. <a href="#BUG">BÚG</a>, 10.o.)</h3>
<table class="table table-striped">
<tbody>
<tr>
<td>Rövidítés</td>
<td>Latinul</td>
<td>Magyarul</td>
</tr>
<tr>
<td>1/2/3</td>
<td>persona</td>
<td>személy</td>
</tr>
<tr>
<td>A.</td>
<td>Activum</td>
<td>cselekvő</td>
</tr>
<tr>
<td>acc.</td>
<td>accusativus</td>
<td>tárgyeset</td>
</tr>
<tr>
<td>aor.</td>
<td>aoristos</td>
<td>aoristos</td>
</tr>
<tr>
<td>coni.</td>
<td>coniunctivus</td>
<td>kötőmód</td>
</tr>
<tr>
<td>D.</td>
<td>Deponens</td>
<td>álszenvedő (ill. álmedium)</td>
</tr>
<tr>
<td>dat.</td>
<td>dativus</td>
<td>részes eset</td>
</tr>
<tr>
<td>f.</td>
<td>femininum</td>
<td>nőnemű</td>
</tr>
<tr>
<td>fut.</td>
<td>futurum</td>
<td>jövő idő</td>
</tr>
<tr>
<td>gen.</td>
<td>genitivus</td>
<td>birtokos eset</td>
</tr>
<tr>
<td>imperat.</td>
<td>imperativus</td>
<td>fölszólító mód</td>
</tr>
<tr>
<td>imperf.</td>
<td>imperfectum</td>
<td>folyamatos</td>
</tr>
<tr>
<td>ind.</td>
<td>indicativus</td>
<td>kijelentő mód</td>
</tr>
<tr>
<td>indecl.</td>
<td>indeclinabilis</td>
<td>nem ragozható</td>
</tr>
<tr>
<td>inf.</td>
<td>infinitivus</td>
<td>főnévi igenév</td>
</tr>
<tr>
<td>m.</td>
<td>masculinum</td>
<td>hímnem</td>
</tr>
<tr>
<td>M.</td>
<td>Medium</td>
<td>medium</td>
</tr>
<tr>
<td>n.</td>
<td>neutrum</td>
<td>semlegesnem</td>
</tr>
<tr>
<td>nom.</td>
<td>nominativus</td>
<td>alanyeset</td>
</tr>
<tr>
<td>opt.</td>
<td>optativus</td>
<td>óhajtó mód</td>
</tr>
<tr>
<td>P.</td>
<td>Passivum</td>
<td>szenvedő</td>
</tr>
<tr>
<td>part.</td>
<td>participium</td>
<td>melléknévi igenév</td>
</tr>
<tr>
<td>perf.</td>
<td>perfectum</td>
<td>befejezett</td>
</tr>
<tr>
<td>pl.</td>
<td>pluralis</td>
<td>Többes szám</td>
</tr>
<tr>
<td>praes.</td>
<td>praesens</td>
<td>jelen idő</td>
</tr>
<tr>
<td>praet.</td>
<td>praeteritum</td>
<td>múlt idő</td>
</tr>
<tr>
<td>sg.</td>
<td>singularis</td>
<td>egyes szám</td>
</tr>
<tr>
<td>voc.</td>
<td>vocativus</td>
<td>megszólító eset</td>
</tr>
</tbody>
</table>
<h3 id="c5">Deklinációelemzések (forrás: <a href="#BUG">BÚG</a>, 16.1-4)</h3>
<table class="table table-striped">
<tbody>
<tr>
<th>Rövidítés</th>
<th>Latinul</th>
<th>Magyarázat</th>
</tr>
<tr>
<td>nom.</td>
<td>nominativus</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>nom(p).</td>
<td>nominativus praedicativus</td>
<td><span class="greek">ποιέω</span> és <span class="word">λέγω</span> mellett: vmivé teszem, vminek mondom</td>
</tr>
<tr>
<td>acc.</td>
<td>accusativus</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>acc(p).</td>
<td>accusativus praedicativus</td>
<td><span class="greek">ποιέω</span> és <span class="greek">λέγω</span> mellett: vmivé teszem, vminek mondom</td>
</tr>
<tr>
<td>acc(ra).</td>
<td>accusativus respectivus/adverbialis</td>
<td>Vmi tekintetében, vmire nézve, ill. határozóként.</td>
</tr>
<tr>
<td>acc(s).</td>
<td>accusativus spatii</td>
<td>Térbeli kiterjedést fejez ki.</td>
</tr>
<tr>
<td>acc(t).</td>
<td>accusativus temporis</td>
<td>Időbeli kiterjedést fejez ki.</td>
</tr>
<tr>
<td>gen.</td>
<td>genitivus</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>gen(c).</td>
<td>genitivus comparationis</td>
<td>Összehasonlítás középfok mellett</td>
</tr>
<tr>
<td>gen(ci).</td>
<td>genitivus copiae/inopiae</td>
<td>Valamiben való bővelkedést, betöltést, teljességet ill. szűkölködést, szükséget, hiányt jelentő igék<br>mellett.</td>
</tr>
<tr>
<td>gen(e).</td>
<td>genitivus epexegeticus</td>
<td>Magyarázó, kifejtő értelmű gen.</td>
</tr>
<tr>
<td>gen(m).</td>
<td>genitivus memoriae</td>
<td>Emlékezést, elfelejtést, gondoskodást jelentő igék mellett.</td>
</tr>
<tr>
<td>gen(p).</td>
<td>genitivus partitivus</td>
<td>közül</td>
</tr>
<tr>
<td>gen(pr).</td>
<td>genitivus pretii</td>
<td>Az értéket jelöli a vásárlást, eladást, értékelést, méltatást jelentő igék, melléknevek mellett.</td>
</tr>
<tr>
<td>gen(ql).</td>
<td>genitivus qualitatis (más néven gen. hebraicus)</td>
<td>Használata melléknév helyett a bibliai görögben nagyon elterjedt a szemita nyelvek hatására, amelyekben<br>kevés a melléknév, ezért gyakran alkalmaznak helyette birtokos szerkezetet.</td>
</tr>
<tr>
<td>gen(qn).</td>
<td>genitivus quantitatis</td>
<td>Mennyiség, pl. életkor jelölésére</td>
</tr>
<tr>
<td>gen(s).</td>
<td>genitivus separationis</td>
<td>Elkülönítést, eltávolítást, akadályozást, tartózkodást jelentő igék mellett.</td>
</tr>
<tr>
<td>gen(t).</td>
<td>genitivus temporis</td>
<td>Mikor? Meddig? - kérdésre válasz</td>
</tr>
<tr>
<td>dat.</td>
<td>dativus</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>dat(c).</td>
<td>dativus causae</td>
<td>miatt</td>
</tr>
<tr>
<td>dat(ci).</td>
<td>dativus commodi/incommodi</td>
<td>Azt a személyt jelöli, akinek érdekében, javára, ill. kárára, hátrányára történik vmi.</td>
</tr>
<tr>
<td>dat(d).</td>
<td>dativus directionis</td>
<td>-hoz, -ra</td>
</tr>
<tr>
<td>dat(m).</td>
<td>dativus mensurae</td>
<td>Összehasonlításban</td>
</tr>
<tr>
<td>dat(mo).</td>
<td>dativus modi</td>
<td>Módhatározót fejez ki.</td>
</tr>
<tr>
<td>dat(p).</td>
<td>dativus possessivus</td>
<td>akié</td>
</tr>
<tr>
<td>dat(r).</td>
<td>dativus respectivus</td>
<td>vmi szerint</td>
</tr>
<tr>
<td>dat(si).</td>
<td>dativus sociativus/istrumentalis</td>
<td>-val, -vel</td>
</tr>
<tr>
<td>dat(t).</td>
<td>dativus temporis</td>
<td>Mikor? Meddig? - kérdésre válasz</td>
</tr>
</tbody>
</table>
<h3 id="c6">Mondattani rövidítések</h3>
<table class="table table-striped">
<tbody>
<tr>
<th>Rövidítés</th>
<th>Jelenség</th>
</tr>
<tr>
<td>(acc. cum inf.)</td>
<td>accusativus cum infinitivus</td>
</tr>
<tr>
<td>(gen.abs.)</td>
<td>genitivus absolutus</td>
</tr>
<tr>
<td>(szem.)</td>
<td>Szemitizmus</td>
</tr>
<tr>
<td>(fig.etym.)</td>
<td>figura etymologica, azonos tövű igéből és főnévből álló szerkezet.</td>
</tr>
<tr>
<td>(kif.)</td>
<td>kifejezés (minden érintett szóhoz odaírjuk, a jelentést a kif. első szavához.)</td>
</tr>
</tbody>
</table>
<h3 id="c7">Szakkifejezések</h3>
<table class="table table-striped">
<tbody>
<tr>
<td>CP</td>
<td>Corpus Paulinum. Az újkori termiológiának megfelelően a Római levél és a Filemonhoz írt levél közötti<br>szentírási könyvcsoportot sorolom ide, a Zsidó levelet természetesen nem.</td>
</tr>
<tr>
<td>Hap.leg.</td>
<td>Hapax legonmenon, egyszer előforduló szó az Újszövetségben</td>
</tr>
</tbody>
</table>

{% endblock %}
