{% extends "layout" %}

{% block menu %}
    {% include 'menu' %}
{% endblock %}

{% block content %}
        <h3>Üdvözöljük a görög újszövetségi szószedetben!</h3>
        <p>
            <small>
                {% for book in books %}
                    <a class="btn btn-default btn-xs" href="/text/{{ book.nev }}/">{{ book.nev }}</a>
                {% endfor %}
            </small>
        </p>
        <p>
            <img class="img-responsive" alt="" title="Fil 1,3-8" src="/build/img/gnt_wh.jpg">
        </p>
{% endblock %}
