{% extends "layout" %}

{% block menu %}
    {% include 'menu' %}
{% endblock %}

{% block content %}
        <h3>Üdvözöljük a Szent Jeromos Katolikus Bibliatársulat görög Újszövetséget bemutató honlapján!</h3>
        <h4>Az Újszövetség könyvei</h4>
        <p>
            <small>
                {% for book in newTestamentBooks %}
                    <a class="btn btn-default btn-xs" href="/text/{{ book.nev }}/">{{ book.nev }}</a>
                {% endfor %}
            </small>
        </p>
        <h4>További könyvek</h4>
        <p>
            Az Újszövetség mellett a Septuaginta, valamint patrisztikus és klasszikus görög szövegek is tanulmányozhatók honlapunkon.
        </p>
    <p>Ezek megtekintéséhez kattintson <a href="/all-books">ide!</a></p>
        <p>
            <a href="/text/Fil/1/3"><img class="img-responsive" alt="" title="Fil 1,3-8" src="/build/img/gnt_wh.jpg"></a>
        </p>
{% endblock %}
