{% extends "adminLayout" %}

{% block content %}
<div class="container">
    <h1>Technikai műveletek</h1>
<ul>
    <li><a href="/technikai/moderate">Levelezőlista moderálása</a></li>
    <li><a href="/technikai/convert">Adatbázis frissítése</a></li>
</ul>
</div>
{% endblock %}