@font-face {
  font-family: "gentiumW";
  src: url("/fonts/GentiumPlus-R.woff") format('woff');
}

div.wordPopover {
  font-size: 14px;
}

.greek {
  font-family: 'gentiumW';
}

 .word {
  font-size: 19px;
  .greek
}

 h4 .greek {
   font-size: 21px;
 }

a.word { color: black }
a.word:hover { color: #428bca }

.footer {
  width: 100%;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  height:80px;
  bottom:0;
  font-size: small;
  display: none;
}

div.wordDetails {
  display: inline-block;
  margin-bottom:0px;
  max-width: 400px;
}

div.textContainer {
  bottom: 0;
}

div.textDisplay {
  overflow-y: scroll;
  position: fixed;
  bottom: 0px;
  top:0px;
}

div.detailsDisplay {
  overflow-y: scroll;
  position: fixed;
}

.form-inline .form-control.jumper-form-control {
  width: auto;
  display: inline;
}

// small screen
@media screen and (max-width: 767px) {
  div.chooser {
    height: 40px;
    width: 100%;
  }
  div.textDisplay {
    top:100px;
    bottom: 200px;
  }
  div.detailsDisplay {
    bottom: 0px;
    height: 200px;
  }
}

// landscape
@media (min-width: 992px) {
  div.textContainer {
    position: fixed;
    width: 940px;
    top: 120px;
  }
  div.textDisplay {
    position: absolute;
    width: 70%;
  }
  div.detailsDisplay {
    position: absolute;
    top: 0;
    right: 0px;
    width: 30%;
    bottom: 0;
  }
}

// big portrait
@media (min-width: 768px) and (max-width:991px) {
  div.textDisplay {
    top:100px;
    bottom: 200px;
  }
  div.detailsDisplay {
    bottom: 0px;
    height: 200px;
    width: 100%;
  }
}

// show footer if has place
@media (min-height: 600px) and (min-width: 768px) {
  div.textContainer {
    bottom: 80px;
  }
  div.footer {
    display: block;
  }
}

@media (min-width: 1200px) {
  div.textContainer {
    width: 1140px;
  }
}