ul.folder {
    font-family: courier;
    list-style-image: url(/img/mappa.png);
}

ul.file {
  font-family: courier;
  list-style-image: url(/img/fajl.png);
}

li.file {
  color: blue;
  cursor: pointer;
}

@font-face {
  font-family: "gentiumW";
  src: url("/fonts/GentiumPlus-R.woff") format('woff');
}

div.wordPopover {
  font-size: 14px;
}

.greek {
  font-family: 'gentiumW';
}

 .word {
  font-size: 19px;
  .greek
}

 h4 .greek {
   font-size: 21px;
 }

a.word { color: black }
a.word:hover { color: #428bca }

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
