<!DOCTYPE html>

<html lang="hu">
<head>
    {% if app.environment != 'production' %}<meta name="robots" content="noindex,nofollow">{% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Görög Újszövetség - Magyar nyelvtani elemzésekkel</title>
</head>
<body>
<div class="container">
    {% block navbar %}{% endblock %}
    <div class="row">
        <div class="col-md-2">
            {% block menu %}{% endblock %}
        </div>
        <div class="col-md-10">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>Kérdések, ötletek, problémák: Harmai Gábor, e-mail (ember számára olvasható formában): harmaig kukac ehf pont hu</p>
    <p>Fejlesztés: <a href="https://github.com/briff/ujszov.szentiras.hu">GitHub</a>
        {% if config_get('version.hash') %}- <small>verzió:
            <a href="https://github.com/briff/ujszov.szentiras.hu/commit/{{ config_get('version.hash') }}">
                {{ config_get('version.hash')[0:7] }}</a></small>{% endif %}</p>
    <p>Programozók: <a href="https://github.com/briff">Fodor Bertalan</a> (2014-). Az eredeti honlapot készítette és sok éven át karbantartotta: <b>Süttő Dániel</b></p>
</div>
<script data-main="/js/{{ jsModule ?: 'common' }}" src="/js/lib/require.js"></script>
</body>
</html>