{% extends "layout" %}

{% block content %}

<p>Tisztelt
        Felhasználó!</p>

<p class="text-justify">A honlapon látható
vállalkozás célja az újszövetségi görög
nyelvtanulást hatékony számítástechnikai
eszközökkel elősegíteni, és ezzel Isten Szavát eredeti nyelven közelebb hozni mindennapjainkhoz,
imádságainkhoz. Kívánjuk minden görögtanulónak Isten
bőséges áldását.
</p>
<p class="text-justify">
Amikor örömmel mutatjuk be a
munka internetes változatát,
egyúttal
megértését kérjük
abban, hogy egy még nem befejezett, fejlesztés
alatt
álló vállalkozásba
tekinthet bele. Ez azt jelenti, hogy még vannak
lényeges, földolgozatlan részek a
Szentírásban, amelyekre nincs kész a
szószedetünk, ugyanakkor az
előrehaladást folyamatosan jelezzük.</p>
    <p class="text-justify">
A Német Bibliatársulat 2010. január
1-től sajnos
visszavonta korábbi engedélyét a
görög Újszövetség <a href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-27/lesen-im-bibeltext/">Nestlé
    - Aland kiadó által
    készített szövegváltozata 27.
    kiadásának</a> (GNT27)
használatára. Elvi álláspontunk, hogy ez a
döntés elfogadhatatlan, mivel a
görög Szentírás
Isten ajándéka az emberiségnek. Nem
kívánunk azonban üres
jogvitákba bonyolódni
vélt szerzői jogokról, ezért
hálásan köszönjük,
hogy <b>Dr. Maurice Robinson</b> <a href="http://www.sebts.edu/">(Southeastern Baptist
    Theological Seminary)</a>
rendelkezésünkre bocsátotta a
Görög Újszövetség
1881-es, <b>B.F.Westcott</b> és
<b>F.J.A. Hort</b> által
készített
szövegkiadásának digitális
változatát (GNT_WH). A
digitalizált szöveget <a href="http://www.ehf.hu/ujszov/letolthetok/GNT_WH_e_book.zip">e-bookba</a>
szerveztük, amelyet a liktárunkból
bárki letölthet, és összevethet
a
könyvkiadás <a href="http://clerus.hu/sites/clerus.hu/files/ujszov/scan/ls.html">beszkennelt
        lapjaival</a>. Kérjük az esetleges
hibákat a levelezőlistánkon bejelenteni.
        </p>

<p class="text-justify">Köszönjük
    azt a hatalmas segítséget, amit a
    digitalizált
    szöveg és a könyv folyamatos
    összevetésében,
    korrektúrájában kaptunk az
    alábbi személyektől:

    <a href="http://faculty.gordon.edu/hu/bi/Ted_Hildebrandt/">Dr.
        Ted Hildebrand</a>,
    <a href="http://www.hum.aau.dk/%7Eulrikp/index.html">Mr.
        Ulrik
        Sandborg-Petersen</a>, <a href="http://chrles.multiply.com/">Mr.
        Charles Hill</a>,
    <a href="http://www.laparola.net/">Mr. Richard Wilson</a><span style="text-decoration: underline;"></p>

<p class="text-justify">Ugyancsak sokat segítettek
    az Esztergom-Belvárosi Plébánia
    munkatársai,
    Kantjukov Rüsztem, Németh Mária
    és Kovács Kitti, akik
    összeolvasták a digitalizált
    szöveget és a
    könyvet.<span style=""></span></p>

<p class="text-justify">A GNT_WH bárki számára szabadon
fölhasználható, és kb.
99%-ban teljesen
azonos a korábbival. A GNT_WH és a
GNT27 eltéréseket szövegkritikai
jelzésekkel, és lábjegyzetekkel
bemutatjuk. Elemzéssel
    és magyar szófordítással
elkészült részek:</p>

<ul>

<li><strong>Mt evangélium</strong>(Harmai Gábor)</li>

<li><strong>Mk evangélium </strong>(Szabó
Xavér)</li>

    <li><strong>Lk evangélium </strong>
(1-14: Szabó Xavér; 15-24: Harmai Gábor)</li>

    <li><strong>Jn 1-14</strong>
(Horváth Endre)</li>

    <li><strong>Corpus Paulinum</strong>
(Horváth Endre,
kivéve Filippi levél: Harmai Gábor)</li>

    <li><strong>Katolikus levelek</strong>
(Horváth
Endre, hiányzik: 1-3Jn)</li>

    <li><strong>Jel</strong>
(Horváth Endre)</li>
</ul>

    <p>Legnagyobb hiányunk az Acs. Fontos azonban
megemlíteni Giovanni Venturini
munkáját. Ő az
Újszövetség összes
igéjéhez
nyelvtani analízist készített,
és ezt a
rendelkezésünkre bocsátotta.
Ezek után a nyelvtani elemzést az Újszövetség
egészének a
vonatkozásában el tudtuk készíteni.</p>

<p>A szavak magyarázatai mögött egy immár teljes görög-magyar gépszótár áll. Fő forrásai:</p>

    <ul>
        <span class="word">מָשִׁיַח</span>
<li>Szabó Mária görög-magyar szószedete (vö. B&Uacute;G - 870 szó)</li>
<li>Mickelson's enhanced Strong's greek dictionary (<a href="http://www.theword.net/">A The Word szoftver hivatalos szótára</a> - kb. 1800 szó, melyek közül kb. 1500-at Tóthmajor Kata, kb. 300-at Mézes Melinda fordított)</li>
<li>Az előbbi olasz változata (vö: <a href="http://www.laparola.net">www.laparola.net</a> - kb. 2900 szó magyarázata származik innen, melyeket a szószedet szerkesztése kapcsán Harmai Gábor fordított, és adott esetben saját felelősségére átalakított)</li>
A szómagyarázatok készítése során mindig figyelembe vettük a rövidítésjegyzékben fölsorolt nemzeti fordítások megoldásait, továbbá a rövidítésjegyzékben fölsorolt 3 görög-magyar szótárat.
Maga a szószedet fejlesztése is lehetővé tett azonban számos önálló megoldást is. Mindenekelőtt a névszók alakváltozatainak a listái jelentenek önálló munkát, míg az igék paradigmáit a B&Uacute;G-ból és a BGOG-ből vettük át.
</ul>
A honlap Süttő Dániel munkája.<br>

<br>

A munka technikai felelőse jelen
tájékoztató
írója: Harmai Gábor<br>

<br>

Hiányzó részek, további
tervek:<br>

<br>

Föltett szándékunk, hogy
hárman készítjük el a
hiányzó részek
szószedeteit, ugyanis nem tenne jót a munka
egységes stílusának, ha
ebbe új kollégákat vonnánk
be. Annál szívesebben veszünk minden
kritikai észrevételt, akár alkalmit,
akár egy-egy fejzet rendszeres
korrektúráját. Ebbe az Esztergomi
Hittudományi Főiskola növendékeitől
kezdve minden fölhasználó
bekapcsolódását szívesen
fogadjuk.<br>

<br>

További terveinket meghatározza, hogy mire
találunk munkatársakat:
lehetséges pl. klasszikus görög
szövegek, egyházatyák, vagy a
Septuaginta egyes részeinek hasonló
stílusú preparációja.
Kézenfekvőek
pl. a Deuterokanonikus könyvek, ha azok
elkészítésére
vállalkozik
valaki, azt nagy örömmel kapcsolnánk a
munkánkhoz.<br>

<br>

Mindezekben bárki
segítségét,
észrevételeit szívesen
vesszük.<br>

<br>

A héber &Oacute;szövetség
preparációjának
útjában komoly
technikai akadály,
hogy a kevert, héber- és másnyelvű
írás a
számítógépen
alapjában
megoldatlan. Ennek ellenére van egy Excelben
kipreparált
Jónás könyvem,
amennyiben azt sikerül közzétennem, az
jelezni fogja,
hogy a szószedet
kiterjeszthető majd az &Oacute;szövetségre is.<br>

<br>

Már a szószedet
elkészítése kapcsán gyakran
keletkeztek közöttünk
termékeny viták, amelyekből
lábjegyzetek születtek. Adódik a
lehetőség,
hogy a Szentírás egyes részeihez
bibliográfiát kapcsoljunk, amely segít
abban, hogy a szakirodalomban hol lehet
utánanézni egy-egy szöveg
pontos értelmének.<br>

<br>

Hosszú távú célunk mindezt
egy Interneten, vagy akár nyomtatásban is
kiadott magyar nyelvű biblikus folyóirattá
fejleszteni.<br>

<br>

Munkamódszerünk:<br>

<br>

Egy-egy szó egy-egy konkrét alakjához
csak egy
esetben írunk kézzel
jelentést és elmzést, a többi
azonos
szóalakhoz a gép másolja az egy
helyre kézzel beírt
információt. &Iacute;gy
nem kell pl. több, mint 9000-szer
leírni a "kai"-szó
jelentését és
elemzését. Természetesen nem biztos,
hogy az a jelentés és az a
preparáció, ami
az egyik helyen helytálló, a
másik helyen is helytálló marad,
éppen
ezért a munkánk nagyobb része a
gép által másolt
preparációk
ellenőrzése és kézi
felülvizsgálata.
Ebben
sajnos maradhatnak menet közben hibák,
ezért is
írtuk, hogy minden
kritikai észrevételt szívesen fogadunk.<br>

<br>

<div style="text-align: center;">Szívből
    kívánom a Szentírás
    elmélyült
    megértését:<br>

    <br>

    <div style="text-align: left; margin-left: 360px;">Harmai
        Gábor<br>

        e-mail (ember számára olvasható
        formában): <br>

        harmaig kukac ehf pont hu<br>

    </div>

</div>

</div>

</span>
    </body>

{% endblock %}