<form name="form" action="/text" method="get">
    <label for="book">Könyv</label><select name="book" class="form-control">
        <option value="1">Mt</option>
        <option value="2">Mk</option>
        <option value="3">Lk</option>
        <option value="4">Jn</option>
        <option value="5">Acs</option>
        <option value="6">Róm</option>
        <option value="7">1Kor</option>
        <option value="8">2Kor</option>
        <option value="9">Gal</option>
        <option value="10">Ef</option>
        <option value="11">Fil</option>
        <option value="12">Kol</option>
        <option value="13">1Tessz</option>
        <option value="14">2Tessz</option>
        <option value="15">1Tim</option>
        <option value="16">2Tim</option>
        <option value="17">Tit</option>
        <option value="18">Filem</option>
        <option value="19">Zsid</option>
        <option value="20">Jak</option>
        <option value="21">1Pt</option>
        <option value="22">2Pt</option>
        <option value="23">1Jn</option>
        <option value="24">2Jn</option>
        <option value="25">3Jn</option>
        <option value="26">Júd</option>
        <option value="27">Jel</option>
    </select>
    <label for="chapter">Fejezet</label><input name="chapter" value="1" type="text" class="form-control">
    <label for="verse">Vers</label><input name="verse" type="text" class="form-control" style="margin-bottom: 10px">
    <button class="btn btn-primary" type="submit">Keres</button>
</form>