<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Menü</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ujszov.hu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="level.php" target="jobb">Levelezőlista</a></li>
                <li><a href="help.html" target="jobb">Tájékoztató</a></li>
                <li><a href="rovjegyz.htm" target="jobb">Rövidítésjegyzék</a></li>
                <li><a href="linkek.html" target="jobb">Linktár</a></li>
                <li><a href="letolthetok.html" target="jobb">Letölthető anyagok</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
