{% extends "layout" %}

{% block content %}

    <h3>Témák</h3>
    <ol>
        <li><a href="#c1">Szentírási könyvek rövidítései</a>
        <li><a href="#c2">Szakirodalmi rövidítések</a>
        <li><a href="#c3">Szófajok</a>
        <li><a href="#c4">Szóelemzési rövidítések</a>
        <li><a href="#c5">Deklinációelemzések</a>
        <li><a href="#c6">Mondattani rövidítések</a>
        <li><a href="#c7">Szakkifejezések</a>
    </ol>

    <h3 id="c1">Szentírási könyvek rövidítései</h3>
    <p>Érdekességképpen idetettük a közkézen forgó Szentírásfordítások ill. segédkönyvek rövidítésjegyzékeit. Ezeket
        ténylegesen figyelembe vettük, amikor a saját jegyzékünket összeállítottuk. Alapvetően az ÚKB jegyzékét vettük
        át, de indokolt esetben eltértünk.
    </p>
    <table class="table table-striped">
        <tr>
            <th>Magyar</th>
            <th>Szószedet</th>
            <th><a href="#UKB">ÚKB</a></th>
            <th><a href="#KNB">KNB</th>
            <th><a href="#BD">BD</a><a title="Az Ószövetségre csak hivatkozik, nem rövidít minden könyvet."
                                       data-toggle="tooltip"><sup>1</sup></th>
            <th><a href="#KG">KG</a></th>
            <th><a href="#UF">ÚF</a></th>
            <th><a href="#USZSZ">ÚSzSz</a><sup><a data-toggle="tooltip"
                                                  title="A katolikus “deuterokanonikus” könyvek az Újszövetségi szómutató szótárban “apokrifek”.">2</a></sup>
            </th>
        </tr>
        <tr>
            <td>Teremtés könyve
            <td>Ter
            <td>~
            <td>~
            <td>Gen
            <td>1Móz
            <td>1Móz
            <td>1Móz
        </tr>
        <tr>
            <td>Kivonulás könyve
            <td>Kiv
            <td>~
            <td>~
            <td>Exod
            <td>2Móz
            <td>2Móz
            <td>2Móz
            <td></td>
        <tr>
            <td>Leviták könyve
            <td>Lev
            <td>~
            <td>~
            <td>Lev
            <td>3Móz
            <td>3Móz
            <td>3Móz
        </tr>
        <tr>
            <td>Számok könyve
            <td>Szám
            <td>~
            <td>~
            <td>Num
            <td>4Móz
            <td>4Móz
            <td>4Móz
        </tr>
        <tr>
            <td>Második Törvénykönyv
            <td>MTörv
            <td>~
            <td>~
            <td>Deut
            <td>5Móz
            <td>5Móz
            <td>5Móz
        </tr>
        <tr>
            <td>Józsue könyve
            <td>Józs
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Bírák könyve
            <td>Bír
            <td>~
            <td>~
            <td>-
            <td>Bir
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Rút könyve<a
                        title="Eltértünk az ÚKB-rövidítéstől a Szent Jeromos Társulat Neovulgáta-fordításának rövidítését követve, amit általában egy protestáns rövidítés is megerősít."
                        data-toggle="tooltip"><sup>3</sup></a>
            <td>Rút
            <td>Rut
            <td>~
            <td>-
            <td>Ruth
            <td>Ruth
            <td>Ruth
        </tr>
        <tr>
            <td>Sámuel első könyve
            <td>1Sám
            <td>~
            <td>~
            <td>1Kir
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Sámuel második könyve
            <td>2Sám
            <td>~
            <td>~
            <td>2Kir
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Királyok első könyve
            <td>1Kir
            <td>~
            <td>~
            <td>3Kir
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Királyok második könyve
            <td>2Kir
            <td>~
            <td>~
            <td>4Kir
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Krónikák első könyve
            <td>1Krón
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Krónikák második könyve
            <td>2Krón
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Ezdrás könyve
            <td>Ezd
            <td>~
            <td>Ezdr
            <td>-
            <td>Ezsdr
            <td>Ezsd
            <td>Ezsd
        </tr>
        <tr>
            <td>Nehemiás könyve
            <td>Neh
            <td>~
            <td>~
            <td>-
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Tóbiás könyve
            <td>Tób
            <td>~
            <td>~
            <td>~
            <td>-
            <td>-
            <td>-
        </tr>
        <tr>
            <td>Judit könyve
            <td>Jud
            <td>~
            <td>Judit
            <td>-
            <td>-
            <td>-
            <td>-
        </tr>
        <tr>
            <td>Eszter könyve<a
                        title="Eltértünk az ÚKB-rövidítéstől a Szent Jeromos Társulat Neovulgáta-fordításának rövidítését követve, amit általában egy protestáns rövidítés is megerősít."
                        data-toggle="tooltip"><sup>3</sup></a>
            <td>Eszt
            <td>Esz
            <td>~
            <td>-
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Jób könyve
            <td>Jób
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Zsoltárok könyve
            <td>Zsolt
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Példabeszédek könyve
            <td>Péld
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>A Prédikátor könyve
            <td>Préd
            <td>~
            <td>~
            <td>-
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Énekek éneke
            <td>Én
            <td>~
            <td>~
            <td>-
            <td>Ének.Én
            <td>Énekek
            <td>~
        </tr>
        <tr>
            <td>Bölcsesség könyve
            <td>Bölcs
            <td>~
            <td>~
            <td>~
            <td>-
            <td>-
            <td>~
        </tr>
        <tr>
            <td>Jézus, Sirák fiának könyve
            <td>Sir
            <td>~
            <td>Sír
            <td>~
            <td>-
            <td>-
            <td>Sirák
        </tr>
        <tr>
            <td>Izaiás könyve
            <td>Iz
            <td>~
            <td>~
            <td>~
            <td>Ésa
            <td>Ézs(aiás)
            <td>Ézs
        </tr>
        <tr>
            <td>Jeremiás könyve
            <td>Jer
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Jeremiás siralmai
            <td>Siral
            <td>~
            <td>Siralm
            <td>-
            <td>Sir
            <td>JSir
            <td>JSir
        </tr>
        <tr>
            <td>Báruk könyve
            <td>Bár
            <td>~
            <td>~
            <td>-
            <td>-
            <td>-
            <td>~
        </tr>
        <tr>
            <td>Ezekiel könyve
            <td>Ez
            <td>~
            <td>~
            <td>Ezek
            <td>Ezék
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Dániel könyve
            <td>Dán
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Ozeás könyve
            <td>Oz
            <td>~
            <td>Óz
            <td>~
            <td>Hós
            <td>Hós
            <td>Hós
        </tr>
        <tr>
            <td>Joel könyve
            <td>Jo
            <td>~
            <td>~
            <td>Joel
            <td>Jóel
            <td>Jóel
            <td>Jóel
        </tr>
        <tr>
            <td>Ámosz könyve
            <td>Ám
            <td>~
            <td>~
            <td>~
            <td>Ámós
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Abdiás könyve
            <td>Abd
            <td>~
            <td>~
            <td>-
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Jónás könyve
            <td>Jón
            <td>~
            <td>~
            <td>-
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Mikeás könyve
            <td>Mik
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Náhum könyve
            <td>Náh
            <td>~
            <td>~
            <td>-
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Habakuk könyve
            <td>Hab
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Szofoniás könyve
            <td>Szof
            <td>~
            <td>~
            <td>~
            <td>Sof
            <td>Zof
            <td>Zof
        </tr>
        <tr>
            <td>Aggeus könyve<a
                        title="Eltértünk az ÚKB-rövidítéstől a Szent Jeromos Társulat Neovulgáta-fordításának rövidítését követve, amit általában egy protestáns rövidítés is megerősít."
                        data-toggle="tooltip"><sup>3</sup></a>
            <td>Agg
            <td>Ag
            <td>~
            <td>~
            <td>~
            <td>Hag
            <td>Ag
        </tr>
        <tr>
            <td>Zakariás könyve
            <td>Zak
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Malakiás könyve
            <td>Mal
            <td>~
            <td>~
            <td>~
            <td>Malak
            <td>~
            <td>~
        </tr>
        <tr>
            <td>A Makkabeusok első könyve
            <td>1Mak
            <td>~
            <td>1Makk
            <td>~
            <td>-
            <td>-
            <td>~
        </tr>
        <tr>
            <td>A Makkabeusok második könyve
            <td>2Mak
            <td>~
            <td>2Makk
            <td>~
            <td>-
            <td>-
            <td>~
        </tr>
        <tr>
            <td>Evangélium Máté szerint
            <td>Mt
            <td>~
            <td>~
            <td>~
            <td>Mát
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Evangélium Márk szerint
            <td>Mk
            <td>~
            <td>~
            <td>~
            <td>Márk
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Evangélium Lukács szerint
            <td>Lk
            <td>~
            <td>~
            <td>~
            <td>Luk
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Evangélium János szerint
            <td>Jn
            <td>~
            <td>~
            <td>~
            <td>Ján
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Apostolok Cselekedetei <sup><a data-toggle="tooltip"
                                               title="Az “ApCsel” rövidítés túl hosszú, a “Csel” a latin “Act” rövidítés magyarítása, nem önálló magyar rövidítés. Ezért használjuk a fönti “ACs”-t.">4</a></sup>
            <td>Acs
            <td>ApCsel
            <td>Csel
            <td>ApCsel
            <td>Csel
            <td>ApCsel
            <td>Csel
        </tr>
        <tr>
            <td>Rómaiaknak írt levél
            <td>Róm
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Első levél a korintusiaknak
            <td>1Kor
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Második levél a korintusiaknak
            <td>2Kor
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél a galatáknak
            <td>Gal
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél az efezusiaknak
            <td>Ef
            <td>~
            <td>~
            <td>~
            <td>Eféz
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél a filippieknek
            <td>Fil
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél a kolosszeieknek
            <td>Kol
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Első levél a Tesszalonikiaknak<a
                        title="Eltértünk az ÚKB-rövidítéstől a Szent Jeromos Társulat Neovulgáta-fordításának rövidítését követve, amit általában egy protestáns rövidítés is megerősít."
                        data-toggle="tooltip"><sup>3</sup></a>
            <td>1Tessz
            <td>1Tesz
            <td>~
            <td>~
            <td>1Thess
            <td>1Thessz
            <td>1Thes
        </tr>
        <tr>
            <td>Második levél a Tesszalonikiaknak<a
                        title="Eltértünk az ÚKB-rövidítéstől a Szent Jeromos Társulat Neovulgáta-fordításának rövidítését követve, amit általában egy protestáns rövidítés is megerősít."
                        data-toggle="tooltip"><sup>3</sup></a>
            <td>2Tessz
            <td>2Tesz
            <td>~
            <td>~
            <td>2Thess
            <td>2Thessz
            <td>2Thes
        </tr>
        <tr>
            <td>Első levél Timóteusnak
            <td>1Tim
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Második levél Timóteusnak
            <td>2Tim
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél Titusznak
            <td>Tit
            <td>~
            <td>Tít
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél Filemonnak
            <td>Filem
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Levél a zsidóknak
            <td>Zsid
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Jakab levele
            <td>Jak
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Péter első levele
            <td>1Pt
            <td>~
            <td>1Pét
            <td>1Pét
            <td>1Pét
            <td>~
            <td>1Pét
        </tr>
        <tr>
            <td>Péter második levele
            <td>2Pt
            <td>~
            <td>2Pét
            <td>2Pét
            <td>2Pét
            <td>~
            <td>2Pét
        </tr>
        <tr>
            <td>János első levele
            <td>1Jn
            <td>~
            <td>1Ján
            <td>1Ján
            <td>1Ján
            <td>~
            <td>~
        </tr>
        <tr>
            <td>János második levele
            <td>2Jn
            <td>~
            <td>2Ján
            <td>2Ján
            <td>2Ján
            <td>~
            <td>~
        </tr>
        <tr>
            <td>János hamadik levele
            <td>
                <a title="Eltértünk az ÚKB-rövidítéstől a Szent Jeromos Társulat Neovulgáta-fordításának rövidítését követve, amit általában egy protestáns rövidítés is megerősít."
                   data-toggle="tooltip"><sup>3</sup></a>Jn
            <td>~
            <td>3Ján
            <td>3Ján
            <td>3Ján
            <td>~
            <td>~
        </tr>
        <tr>
            <td>Júdás levele
            <td>Júd
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td>János jelenései
            <td>Jel
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
            <td>~
        </tr>
        <tr>
            <td><em>eltérések a szószedettől</em>
            <td>
            <td>7
            <td>14
            <td>18
            <td>30
            <td>18
            <td>19
        </tr>
    </table>
    <h3 id="c2">Szakirodalmi rövidítések</h3>
    <table class="table table-striped">
        <tr>
            <td id="BD">BD
            <td>Magyar nyelvű Újszövetség P. Békés Gellért és P. Dalos Patrik fordítása szerint
        </tr>
        <tr>
            <td>BGOG
            <td>VARGA ZS. J., Bibliai görög olvasó- és gyakorlókönyv, Sárospatak, 20023
        </tr>
        <tr>
            <td id="BUG">BÚG
            <td>SZABÓ M., Bevezetés az Újszövetség görög nyelvébe, Szeged, 19972
        </tr>
        <tr>
            <td>GNG
            <td>BLASS, F. - DEBRUNNER, A. - REHKOPF, F., Grammatik des neutestamentlichen Griechisch, Göttingen, 200118
        </tr>
        <tr>
            <td>GNy
            <td>MAYWALD J. – VAYER L. – MÉSZÁROS E., Görög nyelvtan, Budapest, 198712
        </tr>
        <tr>
            <td>GNT27
            <td>Novum Testamentum Graece, szerk. NESTLE-ALAND, Stuttgart, 1898, 199327
        </tr>
        <tr>
            <td>GNT_T
            <td>Novum Testamentum Graece, szerk. TISCHENDORF, Lipcse, 18863
        </tr>
        <tr>
            <td>GNT_WH
            <td>The New Testament in the original greek, szerk. WESCOTT, B. F. - HORT, F. J. A., Cambridge, London,
                1882, 18852
        </tr>
        <tr>
            <td>IMITB
            <td>Magyar nyelvű héber Szentírás az Izraelita Magyar Irodalmi Társulat fordítása szerint
        </tr>
        <tr>
            <td id="KG">KG
            <td>Magyar nyelvű Szentírás Károli Gáspár revideált fordítása szerint
        </tr>
        <tr>
            <td>KGy
            <td>Magyar nyelvű Szentírás Káldi György fordítása szerint
        </tr>
        <tr>
            <td>KNA26
            <td>Konkordanz zum Novum Testamentum Graece von Nestle-Aland, 26. Auflage und zum Greek New Testament, 3rd
                Edition, Berlin, New York, 1987
        </tr>
        <tr>
            <td>KNTS
            <td>Vollständige Konkordanz zum Griechischen Neuen Testament. Band II. Spezialübersichte, Berlin, New York,
                1978
        </tr>
        <tr>
            <td id="KNB">KNB
            <td>Magyar nyelvű Szentírás a Neovulgáta alapján
        </tr>
        <tr>
            <td>ÓGMSz
            <td>GYÖRKÖSSY A. – KAPITÁNFFY I. – TEGYEY I., Ógörög-magyar Szótár, Budapest, 19932
        </tr>
        <tr>
            <td>ÚGMSz
            <td>VARGA ZS., Újszövetségi görög-magyar szótár, Budapest, 1996.
        </tr>
        <tr>
            <td id="UKB">ÚKB
            <td>Magyar nyelvű Szentírás az új katolikus fordítás szerint
        </tr>
        <tr>
            <td id="UF">ÚF
            <td>Magyar nyelvű Szentírás az új protestáns fordítás szerint
        </tr>
        <tr>
            <td id="USZSZ">ÚSzSz
            <td>BALÁZS, K., Újszövetségi szómutató szótár. Károli Gáspár – 1908-ban revideált – fordításához. A
                Nestle-Aland: Novum Testamentum Graece 26. kiadása alapján készült Konkordanciával összevetve, Budapest,
                1998.
        </tr>
    </table>
    <h3 id="c3">Szófajok</h3>
    <table class="table table-striped">
        <tr>
            <th>Szófaj rövidítve
            <th>Szófaj latinul
            <th>Szófaj magyarul
        </tr>
        <tr>
            <td>adi.
            <td>adiectivum
            <td>melléknév
        </tr>
        <tr>
            <td>adi.compar.
            <td>adiectivum comparativum
            <td>középfokú melléknév
        </tr>
        <tr>
            <td>adi.superl.
            <td>adiectivum superlativum
            <td>fölsőfokú melléknév
        </tr>
        <tr>
            <td>adv.
            <td>adverbium
            <td>határozószó
        </tr>
        <tr>
            <td>adv.(compar.)
            <td>
            <td>hat. középfokú mn.-ből
        </tr>
        <tr>
            <td>adv.(superl.)
            <td>
            <td>hat. fölsőfokú mn.-ből
        </tr>
        <tr>
            <td>art.def.
            <td>articulus definitus
            <td>határozott névelő
        </tr>
        <tr>
            <td>card.
            <td>cardinale
            <td>tőszámnév
        </tr>
        <tr>
            <td>cit.ar.
            <td>citatum aramaicum
            <td>arám idézet
        </tr>
        <tr>
            <td>cit.lat.
            <td>citatum latinae
            <td>latin idézet
        </tr>
        <tr>
            <td>coni.
            <td>coniunctio
            <td>kötőszó
        </tr>
        <tr>
            <td>nm.
            <td>nomen
            <td>főnév
        </tr>
        <tr>
            <td>nm.coll.
            <td>nomen collectivum
            <td>közösségnév ("Izrael" szófaja)
        </tr>
        <tr>
            <td>nm.geo.
            <td>nomen geograficus
            <td>földrajzi név
        </tr>
        <tr>
            <td>nm.pers.
            <td>nomen personalis
            <td>személynév
        </tr>
        <tr>
            <td>ord.
            <td>ordinale
            <td>sorszámnév
        </tr>
        <tr>
            <td>partic.
            <td>particula
            <td>indulatszó
        </tr>
        <tr>
            <td>partic.interrog.
            <td>particula interrogativa
            <td>kérdőszó
        </tr>
        <tr>
            <td>partic.neg.
            <td>particula negativa
            <td>tagadószó
        </tr>
        <tr>
            <td>praep.
            <td>praepositio
            <td>prepozíció
        </tr>
        <tr>
            <td>pron.dem.
            <td>pronomen demonstrativum
            <td>mutató névmás
        </tr>
        <tr>
            <td>pron.indef.
            <td>pronomen indefinitivum
            <td>határozatlan névmás
        </tr>
        <tr>
            <td>pron.interrog.
            <td>pronomen interrogativum
            <td>kérdő névmás
        </tr>
        <tr>
            <td>pron.pers.
            <td>pronomen personale
            <td>személyes névmás
        </tr>
        <tr>
            <td>pron.poss.
            <td>pronomen possessivum
            <td>birtokos névmás
        </tr>
        <tr>
            <td>pron.rec.
            <td>pronomen reciprocum
            <td>kölcsönös névmás
        </tr>
        <tr>
            <td>pron.refl.
            <td>pronomen reflexivum
            <td>visszaható névmás
        </tr>
        <tr>
            <td>pron.rel.
            <td>pronomen relativum
            <td>vonatkozó névmás
        </tr>
        <tr>
            <td>verb.
            <td>Verbum
            <td>ige
        </tr>
    </table>

    <h3 id="c4">Szóelemzési rövidítések (vö. <a href="#BUG">BÚG</a>, 10.o.)</h3>
    <table class="table table-striped">
        <tr>
            <td>Rövidítés
            <td>Latinul
            <td>Magyarul
        </tr>
        <tr>
            <td>1/2/3
            <td>persona
            <td>személy
        </tr>
        <tr>
            <td>A.
            <td>Activum
            <td>cselekvő
        </tr>
        <tr>
            <td>acc.
            <td>accusativus
            <td>tárgyeset
        </tr>
        <tr>
            <td>aor.
            <td>aoristos
            <td>aoristos
        </tr>
        <tr>
            <td>coni.
            <td>coniunctivus
            <td>kötőmód
        </tr>
        <tr>
            <td>D.
            <td>Deponens
            <td>álszenvedő (ill. álmedium)
        </tr>
        <tr>
            <td>dat.
            <td>dativus
            <td>részes eset
        </tr>
        <tr>
            <td>f.
            <td>femininum
            <td>nőnemű
        </tr>
        <tr>
            <td>fut.
            <td>futurum
            <td>jövő idő
        </tr>
        <tr>
            <td>gen.
            <td>genitivus
            <td>birtokos eset
        </tr>
        <tr>
            <td>imperat.
            <td>imperativus
            <td>fölszólító mód
        </tr>
        <tr>
            <td>imperf.
            <td>imperfectum
            <td>folyamatos
        </tr>
        <tr>
            <td>ind.
            <td>indicativus
            <td>kijelentő mód
        </tr>
        <tr>
            <td>indecl.
            <td>indeclinabilis
            <td>nem ragozható
        </tr>
        <tr>
            <td>inf.
            <td>infinitivus
            <td>főnévi igenév
        </tr>
        <tr>
            <td>m.
            <td>masculinum
            <td>hímnem
        </tr>
        <tr>
            <td>M.
            <td>Medium
            <td>medium
        </tr>
        <tr>
            <td>n.
            <td>neutrum
            <td>semlegesnem
        </tr>
        <tr>
            <td>nom.
            <td>nominativus
            <td>alanyeset
        </tr>
        <tr>
            <td>opt.
            <td>optativus
            <td>óhajtó mód
        </tr>
        <tr>
            <td>P.
            <td>Passivum
            <td>szenvedő
        </tr>
        <tr>
            <td>part.
            <td>participium
            <td>melléknévi igenév
        </tr>
        <tr>
            <td>perf.
            <td>perfectum
            <td>befejezett
        </tr>
        <tr>
            <td>pl.
            <td>pluralis
            <td>Többes szám
        </tr>
        <tr>
            <td>praes.
            <td>praesens
            <td>jelen idő
        </tr>
        <tr>
            <td>praet.
            <td>praeteritum
            <td>múlt idő
        </tr>
        <tr>
            <td>sg.
            <td>singularis
            <td>egyes szám
        </tr>
        <tr>
            <td>voc.
            <td>vocativus
            <td>megszólító eset
        </tr>
    </table>
    <h3 id="c5">Deklinációelemzések (forrás: <a href="#BUG">BÚG</a>, 16.1-4)</h3>
    <table class="table table-striped">
        <tr>
            <th>Rövidítés
            <th>Latinul
            <th>Magyarázat
        </tr>
        <tr>
            <td>nom.
            <td>nominativus
            <td>
        </tr>
        <tr>
            <td>nom(p).
            <td>nominativus praedicativus
            <td><span class="greek">ποιέω</span> és <span class="word">λέγω</span> mellett: vmivé teszem, vminek mondom
        </tr>
        <tr>
            <td>acc.
            <td>accusativus
            <td>
        </tr>
        <tr>
            <td>acc(p).
            <td>accusativus praedicativus
            <td><span class="greek">ποιέω</span> és <span class="greek">λέγω</span> mellett: vmivé teszem, vminek mondom
        </tr>
        <tr>
            <td>acc(ra).
            <td>accusativus respectivus/adverbialis
            <td>Vmi tekintetében, vmire nézve, ill. határozóként.
        </tr>
        <tr>
            <td>acc(s).
            <td>accusativus spatii
            <td>Térbeli kiterjedést fejez ki.
        </tr>
        <tr>
            <td>acc(t).
            <td>accusativus temporis
            <td>Időbeli kiterjedést fejez ki.
        </tr>
        <tr>
            <td>gen.
            <td>genitivus
            <td>
        </tr>
        <tr>
            <td>gen(c).
            <td>genitivus comparationis
            <td>Összehasonlítás középfok mellett
        </tr>
        <tr>
            <td>gen(ci).
            <td>genitivus copiae/inopiae
            <td>Valamiben való bővelkedést, betöltést, teljességet ill. szűkölködést, szükséget, hiányt jelentő igék
                mellett.
        </tr>
        <tr>
            <td>gen(e).
            <td>genitivus epexegeticus
            <td>Magyarázó, kifejtő értelmű gen.
        </tr>
        <tr>
            <td>gen(m).
            <td>genitivus memoriae
            <td>Emlékezést, elfelejtést, gondoskodást jelentő igék mellett.
        </tr>
        <tr>
            <td>gen(p).
            <td>genitivus partitivus
            <td>közül
        </tr>
        <tr>
            <td>gen(pr).
            <td>genitivus pretii
            <td>Az értéket jelöli a vásárlást, eladást, értékelést, méltatást jelentő igék, melléknevek mellett.
        </tr>
        <tr>
            <td>gen(ql).
            <td>genitivus qualitatis (más néven gen. hebraicus)
            <td>Használata melléknév helyett a bibliai görögben nagyon elterjedt a szemita nyelvek hatására, amelyekben
                kevés a melléknév, ezért gyakran alkalmaznak helyette birtokos szerkezetet.
        </tr>
        <tr>
            <td>gen(qn).
            <td>genitivus quantitatis
            <td>Mennyiség, pl. életkor jelölésére
        </tr>
        <tr>
            <td>gen(s).
            <td>genitivus separationis
            <td>Elkülönítést, eltávolítást, akadályozást, tartózkodást jelentő igék mellett.
        </tr>
        <tr>
            <td>gen(t).
            <td>genitivus temporis
            <td>Mikor? Meddig? - kérdésre válasz
        </tr>
        <tr>
            <td>dat.
            <td>dativus
            <td>
        </tr>
        <tr>
            <td>dat(c).
            <td>dativus causae
            <td>miatt
        </tr>
        <tr>
            <td>dat(ci).
            <td>dativus commodi/incommodi
            <td>Azt a személyt jelöli, akinek érdekében, javára, ill. kárára, hátrányára történik vmi.
        </tr>
        <tr>
            <td>dat(d).
            <td>dativus directionis
            <td>-hoz, -ra
        </tr>
        <tr>
            <td>dat(m).
            <td>dativus mensurae
            <td>Összehasonlításban
        </tr>
        <tr>
            <td>dat(mo).
            <td>dativus modi
            <td>Módhatározót fejez ki.
        </tr>
        <tr>
            <td>dat(p).
            <td>dativus possessivus
            <td>akié
        </tr>
        <tr>
            <td>dat(r).
            <td>dativus respectivus
            <td>vmi szerint
        </tr>
        <tr>
            <td>dat(si).
            <td>dativus sociativus/istrumentalis
            <td>-val, -vel
        </tr>
        <tr>
            <td>dat(t).
            <td>dativus temporis
            <td>Mikor? Meddig? - kérdésre válasz
        </tr>
    </table>
    <h3 id="c6">Mondattani rövidítések</h3>
    <table class="table table-striped">
        <tr>
            <th>Rövidítés
            <th>Jelenség
        </tr>
        <tr>
            <td>(acc. cum inf.)
            <td>accusativus cum infinitivus
        </tr>
        <tr>
            <td>(gen.abs.)
            <td>genitivus absolutus
        </tr>
        <tr>
            <td>(szem.)
            <td>Szemitizmus
        </tr>
        <tr>
            <td>(fig.etym.)
            <td>figura etymologica, azonos tövű igéből és főnévből álló szerkezet.
        </tr>
        <tr>
            <td>(kif.)
            <td>
                kifejezés (minden érintett szóhoz odaírjuk, a jelentést a kif. első szavához.)
        </tr>
    </table>

    <h3 id="c7">Szakkifejezések</h3>
    <table class="table table-striped">
        <tr>
            <td>CP
            <td>Corpus Paulinum. Az újkori termiológiának megfelelően a Római levél és a Filemonhoz írt levél közötti
                szentírási könyvcsoportot sorolom ide, a Zsidó levelet természetesen nem.
        </tr>
        <tr>
            <td>Hap.leg.
            <td>Hapax legonmenon, egyszer előforduló szó az Újszövetségben
        </tr>
        <tr>
            <td>LXX
            <td>Septuaginta
        </tr>
    </table>

{% endblock %}