{% extends "layout" %}

{% block content %}
<div class="container">
    <h1>&Uuml;dv&ouml;z&ouml;lj&uuml;k a g&ouml;r&ouml;g &uacute;jsz&ouml;vets&eacute;gi sz&oacute;szedetben!</h1>
    <img style="width: 887px; height: 452px;" alt="" title="Fil 1,3-8" src="/img/gnt_wh.jpg">
</div>
{% endblock %}
