{% extends "layout" %}

{% block content %}

<h2>Patrológia</h2>
<h3>1. Eredeti források</h3>
Az ókeresztény irodalomhoz az Újszövetségi Szentírás utáni kor 
keresztény szerzőit soroljuk az I. évezredből. Mi két példát 
választottunk, a Didachét, amely az egyik legősibb ókeresztény irat, az 
ókor sok közössége Szentírásként olvasta föl gyülekezetben. A másik a 
Nicea-Konstantinápolyi Hitvallás. Az ókeresztény irodalom átfogó 
bemutatását találjuk pl. ebben a kétkötetes műben:
<ul>
    <li>
VANYÓ L. <em>Az ókeresztény egyház irodalma I. - Az első három 
század</em>, Ókeresztény örökségünk sorozat, Bp, Jel, 2013
    </li>
    <li>
        VANYÓ L. <em>Az ókeresztény egyház irodalma II. - A 4-8. 
        század</em>, Ókeresztény örökségünk sorozat, Bp, Jel, 2007
    </li>
</ul>
<h3>2. Nyomtatott források</h3>
Egy klasszikus szöveg modern kiadása önmagában nem teremt szerzői 
jogokat, de egy több kéziratból összerakott kritikai kiadás már igen. 
Ezért aki biztosra akar menni, annak érdemes a II. világháború előtt 
kiadott forráskiadások között szövegeket keresnie: azokkal kapcsolatban 
már biztosan nincsenek élő szerzői jogok.
<p>
Legkézenfekvőbb a <a title="Migne-féle Patrologia Graeca - sorozat 
bescannelt könyveiből" href="http://patristica.net/graeca/">Migne-féle 
Patrologia Graeca - sorozat bescannelt könyveiből</a> választani 
szövegeket, mivel ez a XIX. századi forráskiadás máig megkerülhetetlenül 
átfogó forrása a patrológiának. Ugyanakkor a <a 
href="www.archive.org">www.archive.org</a> oldalon is érdemes szétnézni, 
mivel számos bescannelt ókori görög szöveg szabadon fölhasználható 
forráskiadása megtalálható ott.
<p>
A Didaché honlapunkon közzétett görög szövegének nyomtatott forrása:

<a title="Didaché" 
href="https://archive.org/details/DidacheEtEpitreDeBarnabas">HEMMER, H. 
-, OGER, G. - LAURENT A. (szerk.) <em>L</em><em>es Péres Apostoliques 
I-II. Doctrine des apotres. Epitre de Barnabé. Texte grec, Traducion 
francaise, introduction et index, </em>Paris, Librarie Alphonse Picard 
et Fils, 1907</a>
<p>
A Credo honlapunkon közzétett görög szövegének nyomtatott forrása:

DENZINGER, H. - HÜNERMANN, P: <em>Enchiridion symbolorum definitionem et 
declarationum de rebus fidei et morum. Kompendium der Glauberkenntnisse 
und kirlichen Lehrentscheidungen</em>, 37. kiadás: Freiburg im Br., 
Herder, 1991, 150. pont.
<h3>3. Digitális források</h3>
Nyilván megkönnyíti az életünket, ha nem kell kiírnunk egy nyomtatott 
vagy bescannelt könyvből a választott szövegünket, hanem valaki már 
digitalizálta előttünk. A digitalizáció önmagában nem teremt szerzői 
jogot, ebből a szempontból tehát aggálytalanul használhatunk 
digitalizált anyagokat, amiket a netről leszedünk - egy köszönetet azért 
illik mondani. <a title="CCEL" 
href="https://www.ccel.org/l/lake/fathers/didache.htm">A Didaché 
digitalizálását a Christian Classics Ethereal Library munkatársainak 
köszönjük!</a> Jelezzük ugyanakkor, hogy a nálunk megjelent digitalizált 
szöveget átszabtuk, hogy pontosan egybeessék a fönt hivatkozott 
könyvkiadás szövegével. Honlapunkon módszertani kérdés, hogy lehetőleg 
csak olyan szöveg jelenhet meg, amely bemutatható módon, teljes 
egészében egybeesik egy nyomtatott és scannelve hozzáférhető régi könyv 
szövegével, vagy kisebb szemelvény esetén, mint a Credo, egy 
kereskedelmi forgalomban kapható modern könyvben megjelent szöveggel.
<h3>4. A szószedet</h3>
A Didaché és a Credo szószedetét Harmai Gábor készítette.

{% endblock %}
