{% extends "layout" %}

{% block content %}

    <h2>A görög Újszövetség</h2>
    <h3>1. Eredeti források</h3>
    A görög Újszövetség nagyszámú ókori és középkori kézírásos kódexben, és kisebb szövegtöredékben maradt ránk. A nagyközönség számára ezek közül leglátványosabban interneten a
    <a title="Sínai kódex" href="http://www.codexsinaiticus.org">Sínai
        Kódex</a> férhető hozzá. Innen is jól látható, hogy az ókorban se írásjeleket, se mondatjeleket, se szóközöket, se kisbetűket nem használtak a szövegek lejegyzésére. Mindezek tehát a modern szövegkiadók kiegészítései. Az eredeti források keletkezéséről, történetéről, összehasonlításuk hatalmas modern munkájáról jó ismertetést ad az alábbi könyv:

    METZGER, B. M. - EHRMAN, B. D.: <em>Az Újszövetség szövege. Hagyományozás - szövegromlás -
    helyreállítás,</em> magyar fordítás: Budapest, Harmat, 2008.
    <h3>2. Nyomtatott források</h3>
    A ma használatos nyomtatott görög szövegkiadások ún. kritikai kiadások, amelyek az ókori és középkori kéziratok összevetésén alapulnak.

    Honlapunkon a görög Újszövetség <strong>B.F.Westcott</strong> és <strong>F.J.A.
    Hort</strong> által készített szövegkiadásának digitális szövegét találja (GNT_WH). Az első kiadás 1881-ben jelent meg, mi a minimális javításokat tartalmazó 1903-mas kiadást tettük föl.
    <a title="A könyv bescannelve, e-book formájában hozzáférhető."
       href="http://archive.org/details/NewTestamentOriginalGreek.Text.Lex.Notes.Wescott.Hort.1903">A könyv
        bescannelve, e-book formájában hozzáférhető.</a>

    A ma használatos, és kétségtelenül legalaposabb munka a <a title="Nestlé-Aland kiadó 28. javított szövegkiadása"
                                                               href="http://www.bibelwissenschaft.de/online-bibeln/novum-testamentum-graece-na-28/lesen-im-bibeltext/">Nestlé-Aland
    kiadó 28. javított
    szövegkiadása</a>, amely mára a tudományos szakirodalomban lényegében kiszorította a többi szövegkiadást. Az alapszöveg a 26. kiadás óta nem változott, a kritikai apparátus azonban egyre átfogóbban mutatja be az ókori kéziratos hagyományt. Mi még a 27. kiadás szövegét használhattuk néhány évig, így a GNT27 rövidítéssel hivatkozunk erre a munkára, mellyel a lábjegyzeteink teljes összevetést nyújtanak. A Miatyánk szövegéből vettünk át ide erre egy példát: a Mt 6,10 első szava nálunk, ill. Wescott és Hort kiadásában:
    <a id="2010060100001"
       href="/text?corpus=2&amp;book=201&amp;chapter=6&amp;verse=1#"
       data-verseid="Mt6,10" data-wordid="2010060100001" data-unic="˹ἐλθάτω˺" data-mj="jöjjön el"
       data-elem="&lt;abbr class='morph'&gt;A.&lt;/abbr&gt; &lt;abbr class='morph'&gt;imprt.&lt;/abbr&gt; &lt;abbr class='morph'&gt;aor.&lt;/abbr&gt; &lt;abbr class='morph'&gt;sg.&lt;/abbr&gt; &lt;abbr class='morph'&gt;3.&lt;/abbr&gt; "
       data-szal="ἔρχομαι" data-szf="&lt;abbr class='morph'&gt;verb.&lt;/abbr&gt;"
       data-dict-mj="jön, megy; ὁ ὤν ὁ ἦν ὁ ἐρχόμενος: Jézus mellékneve: a van, a volt, az eljövendő"
       data-dict-valt="ἔρχομαι, ἐλεύσομαι, ἦλθον v. ἦλθα, ἐλήλυθα, 0, 0 (vö: &lt;abbr class='literature'&gt;BÚG&lt;/abbr&gt; 11.8.79)"
       data-lj="&lt;abbr class='literature'&gt;GNT27&lt;/abbr&gt;: ἐλθέτω (A szabályos forma a &lt;abbr class='literature'&gt;GNT27&lt;/abbr&gt;-é, a &lt;abbr class='literature'&gt;GNT_WH&lt;/abbr&gt; és a &lt;abbr class='literature'&gt;GNT_T&lt;/abbr&gt; szövegtanúi valószínűleg nyelvjárási okokból az 1. aoristos paradigmáját követik: παιδευσάτω - vö. &lt;abbr class='literature'&gt;GNG&lt;/abbr&gt; 81.3)">˹ἐλθάτω˺</a> A két bezgentyű a szó elején és végén azt jelzi, hogy a GNT27 ebben a szóban eltér, klikk után olvasható:
    <abbr title="" data-original-title="">GNT27</abbr>: ἐλθέτω

    Ebben az esetben adunk egy magyarázatot is, hogy miért tér el a két szó. A szövegkritikát, tehát a kéziratok egybevetését nem tekintjük feladatunknak, mi az eltérések nyelvtani értékelésre, súlyozására vállalkozunk. Ebben az esetben: "A szabályos forma a
    <abbr title="" data-original-title="">GNT27</abbr>-é, a <abbr title="" data-original-title="">GNT_WH</abbr> és a
    <abbr title=""
          data-original-title="">GNT_T</abbr> szövegtanúi valószínűleg nyelvjárási okokból az 1. aoristos paradigmáját követik: παιδευσάτω - vö.
    <abbr title="" data-original-title="">GNG</abbr> 81.3"

    Tehát az eltérés ókori eredetű, de csak annyi, mint pl. a "felmegy" és a "fölmegy" szavunk között.

    A két szövegkiadás között elég nagy számú modern szerkesztői eltérés is van, ezeket nem jelezzük, de lábjegyzetekben bemutatjuk. Példa szintén a Miatyánk szövegéből a Mt 6,9 11. szava, a
    <a id="20100600900110"
       href="http://staging.ujszov.szentiras.hu/text?corpus=2&amp;book=201&amp;chapter=6&amp;verse=1#"
       data-verseid="Mt6,9" data-wordid="20100600900110" data-unic="Ἁγιασθήτω ¹" data-mj="szenteltessék meg"
       data-elem="&lt;abbr class='morph'&gt;P.&lt;/abbr&gt; &lt;abbr class='morph'&gt;imprt.&lt;/abbr&gt; &lt;abbr class='morph'&gt;aor.&lt;/abbr&gt; &lt;abbr class='morph'&gt;sg.&lt;/abbr&gt; &lt;abbr class='morph'&gt;3.&lt;/abbr&gt; "
       data-szal="ἁγιάζω" data-szf="&lt;abbr class='morph'&gt;verb.&lt;/abbr&gt;" data-dict-mj="(meg)szentel"
       data-dict-valt="ἁγιάζω, ἁγιάσω, ἡγίασα, 0, ἡγιάσθην, ἡγίασμαι"
       data-lj="&lt;abbr class='literature'&gt;GNT27&lt;/abbr&gt;: ἁγιασθήτω (modern kisbetű-nagybetű eltérés)">Ἁγιασθήτω
        ¹</a> A szó végén a jelzés mutatja, hogy van eltérés: <abbr title=""
                                                                    data-original-title="">GNT27</abbr>: ἁγιασθήτω (modern kisbetű-nagybetű eltérés).
    <h3>3. Digitális szövegforrásunk</h3>
    Az elmúlt évtizedekben többen vállalkoztak a GNT_WH digitalizálására, mi ezeket a munkákat ingyenesen megkaptuk, amit hálásan köszönünk az alábbi személyeknek: Dr. Maurice Robinson (
    <a href="http://www.sebts.edu/">Southeastern Baptist Theological Seminary</a>), <a
        href="http://faculty.gordon.edu/hu/bi/Ted_Hildebrandt/">Dr. Ted Hildebrand</a>, <a
        href="http://people.hum.aau.dk/~ulrikp/">Mr. Ulrik Sandborg-Petersen</a>, <a
        href="http://www.rts.edu/seminary/faculty/bio.aspx?id=285">Mr. Charles Hill</a>, <a
        href="http://www.laparola.net/">Mr. Richard Wilson</a>.

    A digitalizáció minősége nem volt egységes, de az Esztergom-Belvárosi Plébánia önkéntes munkatársai, Kantjukov Rüsztem és Németh Mária, összeolvasták a digitalizált szöveget és a könyvet. Így most már egy sok összevetésen alapuló, nagyon megbízható digitalizált szöveg található a honlapunkon. A digitalizált szöveget e-bookba szerveztük, amely
    <a href="http://archive.org/details/NewTestamentGreekTextWescottHort18811903/New_Testament_Greek_Text_Wescott_Hort_1881_1903.pdf">pdf-formátumban</a> a neten is megtekinthető, ill.
    <a href="http://archive.org/download/NewTestamentGreekTextWescottHort18811903/New_Testament_Greek_Text_Wescott_Hort_1881_1903.doc">WinWord
        formátumban</a> letölthető. Ennek alapján laponként összevethető a <a
        href="http://archive.org/details/NewTestamentOriginalGreek.Text.Lex.Notes.Wescott.Hort.1903">beszkennelt
    könyvkiadással</a>. Ezt az összevetést több okból érdemes megtenni:

    - kezdő görögösöknek jó olvasási gyakorlat.
    - objektív bizonyíték a digitalizáció megbízhatóságára, nem csak a puszta kijelentésünket kell elhinni.
    - ha valaki mégis találna eltérést a digitalizált és a nyomtatott szöveg között, annak tartozunk egy korsó sörrel.
    <h3>4. A szószedetünk</h3>
    Mivel az Újszövetség digitalizációja jelenti a munkánk gerincét, részletesen írunk erről az általános Tájékoztatóban:

    <a href="/help#A_magyar_szoforditasok">A magyar szófordítások
    </a><a href="/help#Nyelvtani_elemzesek">Nyelvtani elemzések
</a><a href="/help#Szotar">Szótár</a>

{% endblock %}