{% extends "layout" %}

{% block content %}

<h2>A görög Ószövetség (Septuaginta, LXX)</h2>
<h3>1. Eredeti források</h3>
Alexandriai zsidók fordították görögre az Ószövetséget még a Kr. e. 3
III-II. században, és az évszázadok során - még mindig Krisztus előtt -
ki is egészítették néhány általuk írt, csak görög nyelvű irattal, mint
amilyen pl. a Bölcsesség könyve. Ezt a corpust nevezzük ma
Septuagintának, Hetvenes fordításnak, vagy a római 70 számmal rövidítve
LXX-nek.

Az Újszövetség szerzői általában az LXX szerint idézik az Ószövetséget,
legfontosabb talán a Mt 1,23 Izaiás idézete az LXX szerint: »Íme, a szűz
méhében fogan és fiút szül, s a nevét Emmánuelnek fogják hívni« A
protestáns Új Fordítás így hozza a hivatkozott Iz 7,14-et: "...Íme, egy
fiatal nő, aki most várandós, fiút fog szülni, és Immánuélnak nevezi
majd el." A héber Izaiás próféta maga így is prófétált, de a Septuaginta
dokumentálja, hogy Krisztus Urunk születése kapcsán a zsidó népben már
elterjedt várakozás volt az, amit Isten beteljesített, hogy a Messiás
szűztől született. Az LXX Iz 7,14 megfelel a Mt 1,23-nak.

Az LXX is nagyszámú ókori és középkori kézírásos kódexben, és kisebb
szövegtöredékben maradt ránk. Ezek mind keresztény másolatok Krisztus
után, és általában egy jelentős ókori szövegkutató, Órigenész javításait
mutatják. A nagyközönség számára ezek közül a kéziratok közül interneten
a <a title="Sínai kódex" href="http://www.codexsinaiticus.org">Sínai
Kódex</a> férhető hozzá. Innen is jól látható, hogy az ókorban se
írásjeleket, se mondatjeleket, se szóközöket, se kisbetűket nem
használtak a szövegek lejegyzésére. Mindezek tehát a modern szövegkiadók
kiegészítései.
<h3>2. Nyomtatott források</h3>
A Septuaginta szövegforrásainak a teljes egybevetése még nem készült el,
így ma használatos nyomtatott görög szövegkiadások részleges kritikai
kiadások, amelyek csak néhány ókori kézirat összevetésén alapulnak. A
munkát máig meg nem haladott minőségben A. Rahlfs végezte el.
Érdekesség, hogy munkájának legteljesebb, két kötetes 9. kiadása a náci
Németországban jelent meg 1935-ben:

<em>Septuaginta I-II</em>, szerk. A. RAHLFS, Würtemberg, 1935, 9. kiadás

Az <a title="első"
href="http://hunteka.szentadalbert.hu/monguz/index.jsp?from_page=result&amp;page=details&amp;dbname=database_ehf&amp;bib1id=4&amp;bib1field=0&amp;term=SEPTUAGINTA%7C45230%7C857370%7C14&amp;too_many_records=false&amp;rc=27&amp;pos=16&amp;offset=11&amp;stepsize=10">első</a>
és a <a title="második kötet"
href="http://hunteka.szentadalbert.hu/monguz/index.jsp?from_page=result&amp;page=details&amp;dbname=database_ehf&amp;bib1id=4&amp;bib1field=0&amp;term=SEPTUAGINTA%7C45214%7C857370%7C13&amp;too_many_records=false&amp;rc=27&amp;pos=15&amp;offset=11&amp;stepsize=10">második
kötet</a> az Esztergomi Hittudományi Főiskola könyvtárában hozzáférhető.

Ma kereskedelmi forgalomban ennek a munkának oldalhű újranyomása
kapható, az alapszövegben minimális változtatásokkal, melyek zöme
helyesírási- és nyomdahibák hibák javítása. Lent függelékben tételesen
fölsoroljuk a változásokat 1935-höz képest:

<a title="Septuaginta, szerk. A. RAHLFS - R. HAHNHART, Stuttgart, 2006."
href="http://hunteka.szentadalbert.hu/monguz/index.jsp?from_page=result&amp;page=details&amp;dbname=database_ehf&amp;bib1id=4&amp;bib1field=0&amp;term=SEPTUAGINTA%7C62611%7C857370%7C10&amp;too_many_records=false&amp;rc=27&amp;pos=12&amp;offset=11&amp;stepsize=10">Septuaginta,
szerk. A. RAHLFS - R. HAHNHART, Stuttgart, 2006.</a>
<h3> <span style="font-size: 1.17em;">3. Digitális szövegforrásunk, és a
szószedet jelen állapota</span></h3>
<div data-ft="{&quot;tn&quot;:&quot;K&quot;}">

A Septuaginta szövege, és a nyelvtani elemzések a <a
href="http://www.katabiblon.com/" rel="nofollow noopener"
target="_blank">http://www.katabiblon.com</a> oldalról származnak,
folyamatosan korrektúrázzuk, a magyar jelentésekért a Genesis és az
Exodus esetében Takács István vállalt szerzői felelősséget, a Bölcsesség
könyve esetében Tamaskó Gabi. István jelenleg a Zsoltárok könyvén
dolgozik, Gabi a Sirák Fia könyvén, a többi esetben a magyar jelentések
csak a számítógép által máshonnan másolt tippek. A szöveg
korrektúrázását az teszi lehetővé, hogy a Német Bibliatársulat is
közzétette <a title="a Rahlfs-Hahnhart kiadás alapszövegét"
href="http://www.bibelwissenschaft.de/online-bibeln/septuaginta-lxx/lesen-im-bibeltext/">a
Rahlfs-Hahnhart kiadás alapszövegét</a>. Bár két különböző kiadásról van
szó, a tényleges eltérések listája nem olyan hosszú, ismertetésünk végén
függelékben fölsoroljuk. Ugyanakkor mind az amerikai, mind a német
digitalizáció kiváló minőségű, egészen kevés digitalizációs hibát
kellett csak kiszűrnünk.

</div>
<div>
<div data-ft="{&quot;tn&quot;:&quot;H&quot;}">
<h3 id="u_jsonp_4_6" data-ft="{&quot;tn&quot;:&quot;H&quot;}"><span
style="font-size: 1.17em;">4. Függelék: R. Hahnhart revíziója A. Rahlfs
LXX-kiadásának alapszövegén</span></h3>
</div>
</div>
<table width="876" border="0" cellspacing="0" cellpadding="0"><colgroup>
<col span="4" width="219" /> </colgroup>
<tbody>
<tr>
<td width="80" height="28">Hiv</td>
<td width="80">A. Rahlfs</td>
<td width="80">R. Hahnhart</td>
<td width="80">Értékelés</td>
</tr>
<tr>
<td width="80" height="28">Ex 2,11</td>
<td width="80">ἐξήλθεν</td>
<td width="80">ἐξῆλθεν</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 6,9</td>
<td width="80">Μωυσῇ</td>
<td width="80">Μωυσῆ</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 9,11</td>
<td width="80">φαρμακοῖς</td>
<td width="80">φαρμάκοις</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 27,20; Ex 30,24</td>
<td width="80">ἐλαίων</td>
<td width="80">ἐλαιῶν</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Lev 2,14</td>
<td width="80">ἐρικτὰ</td>
<td width="80">ἐρεικτὰ</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">Lev 21,18</td>
<td width="80">κολοβόρριν</td>
<td width="80">κολοβόριν</td>
<td width="80">betűjavítás:  ρρ &gt; ρ</td>
</tr>
<tr>
<td width="80" height="28">Lev 21,20</td>
<td width="80">λιχήν,</td>
<td width="80">λειχήν,</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">Lev 22,22</td>
<td width="80">λιχῆνας</td>
<td width="80">λειχῆνας</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">Lev 2,14; Lev 23,14</td>
<td width="80">χίδρα</td>
<td width="80">χῖδρα</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 25,29; Ex 38,12; Num 4,7; Num 7,84</td>
<td width="80">τρυβλία</td>
<td width="80">τρύβλια</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="112">Num 7,13; Num 7,19; Num 7,25; Num 7,31; Num
7,37; Num 7,43; Num 7,49; Num 7,55; Num 7,61; Num 7,67; Num 7,73; Num
7,79; Num 7,85</td>
<td width="80">τρυβλίον</td>
<td width="80">τρύβλιον</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Num 35,2; Num 35,7</td>
<td width="80">προάστεια</td>
<td width="80">προάστια</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Num 35,15</td>
<td width="80">φυγάδιον</td>
<td width="80">φυγαδεῖον</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Num 21,35; Deut 2,34</td>
<td width="80">ζωγρείαν·</td>
<td width="80">ζωγρίαν·</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Deut 15,7</td>
<td width="80">πόλεων</td>
<td width="80">πόλεών</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Deut 15,18</td>
<td width="80">ἐφέτιον</td>
<td width="80">ἐφέτειον</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Deut 18,10</td>
<td width="80">φαρμακός,</td>
<td width="80">φάρμακος,</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ios 8,5</td>
<td width="80">πρῴην,</td>
<td width="80">πρώην,</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ruth 2,14</td>
<td width="80">ὥρᾳ</td>
<td width="80">ὥρα</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ruth 2,20</td>
<td width="80">ἀνὴρ,</td>
<td width="80">ἀνήρ,</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">1Regn 6,3</td>
<td width="80">ἐξαπεστέλλετε</td>
<td width="80">ἐξαποστέλλετε</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">3Regn 7,15</td>
<td width="80">σύγκλειστον</td>
<td width="80">συγκλειστὸν</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 38,16; 3Regn 7,35</td>
<td width="80">λαμπάδια</td>
<td width="80">λαμπαδεῖα</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">3Regn 7,36</td>
<td width="80">σύγκλειστα,</td>
<td width="80">συγκλειστά,</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">3Regn 18,38</td>
<td width="80">ἐξέλιξεν</td>
<td width="80">ἐξέλειξεν</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">1Par 24,4</td>
<td width="80">ὀκτὼ κατ᾽ οἴκους πατριῶν.</td>
<td width="80">κατ᾽ οἴκους πατριῶν ὀκτώ.</td>
<td width="80">Eltérő szósorrend</td>
</tr>
<tr>
<td width="80" height="28">2Par 2,1</td>
<td width="80">ἀνδρῶν</td>
<td width="80">ἀνδρῶν νωτοφόρων</td>
<td width="80">Új szó</td>
</tr>
<tr>
<td width="80" height="28">2Par 3,12</td>
<td width="80">τοῦ</td>
<td width="80">τῆς</td>
<td width="80">Eltérő nyelvtani alak</td>
</tr>
<tr>
<td width="80" height="28">2Par 6,13</td>
<td width="80">πηχῶν</td>
<td width="80">πήχεων</td>
<td width="80">betűjavítás: ω &gt; εω</td>
</tr>
<tr>
<td width="80" height="28">2Par 30,14</td>
<td width="80">ἐθυμιῶσαν</td>
<td width="80">ἐθυμίωσαν</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Esdr 4,15; Esdr 4,19</td>
<td width="80">φυγάδια</td>
<td width="80">φυγαδεῖα</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">Idt 12,15</td>
<td width="80">κώδια,</td>
<td width="80">κῴδια,</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Iob 12,15</td>
<td width="80">ὥδωρ,</td>
<td width="80">ὕδωρ,</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Iob 26,6</td>
<td width="80">ἐπώπιον</td>
<td width="80">ἐνώπιον</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Ps 93,13</td>
<td width="80">πραῦναι</td>
<td width="80">πραῧναι</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Prov 7,4</td>
<td width="80">εἶπον</td>
<td width="80">εἰπὸν</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Prov 23,29</td>
<td width="80">πέλειοι</td>
<td width="80">πέλιοι</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Cant 4,9</td>
<td width="80">τραχήλων</td>
<td width="80">τραχήλου</td>
<td width="80">(k) f.pl.gen. &gt; f.sg.gen. (a misprint in Rahlfs)</td>
</tr>
<tr>
<td width="80" height="28">Cant 7,10</td>
<td width="80">εὐθύθητα</td>
<td width="80">εὐθύτητα</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="84">2Regn 13,10; 3Regn 1,15; 3Regn 21,30; 3Regn
22,25; 4Regn 9,2; 2Par 18,24; 2Par 22,11; Cant 1,4; Cant 3,4; Cant 8,2</td>
<td width="80">ταμίειον</td>
<td width="80">ταμιεῖον</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Sap 11,21</td>
<td width="80">σοι</td>
<td width="80">σοὶ</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Sir 20,28</td>
<td width="80">θιμωνιὰν</td>
<td width="80">θημωνιὰν</td>
<td width="80">betűjavítás: ι &gt; η</td>
</tr>
<tr>
<td width="80" height="28">Sir 25,18</td>
<td width="80">ἀνὴρ</td>
<td width="80">ἀνηρ</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Sir 37,11</td>
<td width="80">ἐφετίου</td>
<td width="80">ἐφετείου</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="168">Is 5,17</td>
<td width="80">ἀπειλημμένων</td>
<td width="80">ἀπηλειμμένων</td>
<td width="80">Hahnhart: correction of ἀπειλημμένων (perfect participle
passive deriving from ἀπολαμβάνειν), which is unanimously transmitted in
Is 5:17, to ἀπηλειμμένων (perfect participle passive deriving from
ἀπαλείφειν).</td>
</tr>
<tr>
<td width="80" height="112">Is 53,2</td>
<td width="80">ἀνηγγείλαμεν</td>
<td width="80">ἀνέτειλεν μὲν</td>
<td width="80">Hahnhart: a conjecture in Is 53:2 originating with Ludwig
Cappellus and accepted by Joseph Ziegler: ἀνέτειλεν μὲν from the
transmitted ἀνηγγείλαμεν</td>
</tr>
<tr>
<td width="80" height="28">Is 65,24</td>
<td width="80">κεκράξαι</td>
<td width="80">κεκρᾶξαι</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Is 66,17</td>
<td width="80">νῦν</td>
<td width="80">μῦν</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Ier 2,23</td>
<td width="80">πολυανδρίῳ</td>
<td width="80">πολυανδρείῳ</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">Ier 28,13</td>
<td width="80">σπλάγχα</td>
<td width="80">σπλάγχνα</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Ier 30,1</td>
<td width="80">ὤχετο</td>
<td width="80">ᾤχετο</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ier 30,20</td>
<td width="80">ἰταμίας</td>
<td width="80">ἀτιμίας</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Ier 52,11</td>
<td width="80">μύλωνος</td>
<td width="80">μυλῶνος</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Lam 5,10</td>
<td width="80">ἐπελειώθη,</td>
<td width="80">ἐπελιώθη,</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Ier 34,9; Dan 2,27</td>
<td width="80">φαρμακῶν</td>
<td width="80">φαρμάκων</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Dan 3,40</td>
<td width="80">ἐξιλάσαι</td>
<td width="80">ἐξίλασαι</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Dan 3,40</td>
<td width="80">τελειώσαι</td>
<td width="80">τελείωσαι</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Dan 5,1</td>
<td width="80">λύχνους</td>
<td width="80">λύχνου</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Dan 5,6</td>
<td width="80">συνεταῖροι</td>
<td width="80">συνέταιροι</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 9,11; Dan 5,8</td>
<td width="80">φαρμακοὶ</td>
<td width="80">φάρμακοι</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Dan 10,16</td>
<td width="80">ἀπεστράφη</td>
<td width="80">ἐπεστράφη</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Os 10,12</td>
<td width="80">γνώσεως,</td>
<td width="80">γνῶσεως,</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="56">Iob 36,7; Ier 3,5; Lam 3,18; Lam 5,20; Am
1,11; Am 8,7</td>
<td width="80">νεῖκος</td>
<td width="80">νῖκος</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Iob 5,26; Cant 7,3; Sir 39,17; Soph 2,9</td>
<td width="80">θιμωνιὰ</td>
<td width="80">θημωνιὰ</td>
<td width="80">betűjavítás: ι &gt; η</td>
</tr>
<tr>
<td width="80" height="28">Zach 4,2</td>
<td width="80">λαμπάδιον</td>
<td width="80">λαμπαδεῖον</td>
<td width="80">betűjavítás: ει &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">Ex 38,16; Zach 4,3</td>
<td width="80">λαμπαδίου</td>
<td width="80">λαμπαδείου</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">Zach 6,11</td>
<td width="80">λήψῃ</td>
<td width="80">λήμψῃ</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Ex 7,11; Ex 22,17; Dan 2,2; Dan 5,7; Mal 3,5</td>
<td width="80">φαρμακοὺς</td>
<td width="80">φαρμάκους</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">Ex 8,10; Ex 8,10; 1Mac 11,4</td>
<td width="80">θιμωνιὰς</td>
<td width="80">θημωνιὰς</td>
<td width="80">betűjavítás: ι &gt; η</td>
</tr>
<tr>
<td width="80" height="28">2Mac 1,8</td>
<td width="80">ἀθῶον·</td>
<td width="80">ἀθῷον·</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">2Mac 2,18</td>
<td width="80">ἐξείλετο</td>
<td width="80">ἐξείλατο</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">2Mac 4,19</td>
<td width="80">παρακομίσαντες</td>
<td width="80">παρακομίζοντες</td>
<td width="80">Eltérő nyelvtani alak</td>
</tr>
<tr>
<td width="80" height="28">2Mac 5,25</td>
<td width="80">ἐξοπλησίαν</td>
<td width="80">ἐξοπλισίαν</td>
<td width="80">betűjavítás: η &gt; ι</td>
</tr>
<tr>
<td width="80" height="28">2Mac 8,7</td>
<td width="80">πανταχῆ.</td>
<td width="80">πανταχῇ.</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">2Mac 12,45</td>
<td width="80">εἶτε᾽</td>
<td width="80">εἶτε</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">2Mac 13,15</td>
<td width="80">νίκην«</td>
<td width="80">νίκης«</td>
<td width="80">Eltérő nyelvtani alak</td>
</tr>
<tr>
<td width="80" height="28">3Mac 3,21</td>
<td width="80">μύρια</td>
<td width="80">μυρία</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
<tr>
<td width="80" height="28">3Mac 3,25</td>
<td width="80">ὕβρεων</td>
<td width="80">ὕβρεως</td>
<td width="80">(k) f.pl.gen. &gt; f.sg.gen.</td>
</tr>
<tr>
<td width="80" height="28">4Mac 3,4</td>
<td width="80">ἡμῶν</td>
<td width="80">ὑμῶν</td>
<td width="80">Eltérő szó (miénk &gt; tiétek)</td>
</tr>
<tr>
<td width="80" height="28">4Mac 4,19</td>
<td width="80">καὶ</td>
<td width="80">ὃς καὶ</td>
<td width="80">Beszúrt szó</td>
</tr>
<tr>
<td width="80" height="28">4Mac 8,20</td>
<td width="80">κατοικτίρωμεν</td>
<td width="80">κατοικτιρήσωμεν</td>
<td width="80">Eltérő nyelvtani alak</td>
</tr>
<tr>
<td width="80" height="28">4Mac 13,23</td>
<td width="80">καθεστηκυίης</td>
<td width="80">καθεστηκυίας</td>
<td width="80">Eltérő nyelvtani alak</td>
</tr>
<tr>
<td width="80" height="84">Ier 19,2; Ier 19,6; Ier 19,6; Ez 39,11; Ez
39,11; Ez 39,15; Ez 39,16; 2Mac 9,4; 2Mac 9,14; 4Mac 15,20</td>
<td width="80">πολυάνδριον</td>
<td width="80">πολυανδρεῖον</td>
<td width="80">betűjavítás: ι &gt; ει</td>
</tr>
<tr>
<td width="80" height="28">3Esdr 1,52</td>
<td width="80">τείχα</td>
<td width="80">τείχη</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">3Esdr 5,43</td>
<td width="80">παραγίνεσθαι</td>
<td width="80">παραγίγνεσθαι</td>
<td width="80">nyomdahiba javítása</td>
</tr>
<tr>
<td width="80" height="28">Od 3,3</td>
<td width="80">ἑτοιμάζον</td>
<td width="80">ἑτοιμάζων</td>
<td width="80">Eltérő nyelvtani alak</td>
</tr>
<tr>
<td width="80" height="84">Ex 7,28; Iob 9,9; Ps 143,13; Prov 3,10; Prov
7,27; Prov 20,27; Prov 20,30; Prov 24,4; Prov 26,22; Is 26,20; Ez 28,16;
Od 5,20; PsSal 14,8</td>
<td width="80">ταμίεια</td>
<td width="80">ταμιεῖα</td>
<td width="80">eltérő hangsúlyjelek</td>
</tr>
</tbody>
</table>



{% endblock %}
